Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-aws:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

pull-machine-controller-e2e-aws-arm:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

pull-machine-controller-e2e-aws-ebs-encryption-enabled:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

update golang to 1.22.2
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

fix test failures post golang 1.22.2 upgrade
  .golangci.yml
  .prow/verify.yaml
Due: none

Update golang to 1.22.2 (#1776)
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update to k8s 1.30 APIs
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

In-tree support has been dropped for Azure and vSphere
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Update fixtures
  pkg/userdata/amzn2/testdata/kubelet-v1.28-aws.yaml
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Disable AWS E2E tests
  .prow/provider-aws.yaml
Due: none

Bump 1.28 to latest patch 1.28.9 for E2E
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Remove filter for GCE
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Fix logic to populate cloud-provider and cloud-config flags
  pkg/userdata/amzn2/testdata/kubelet-v1.29-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.30.0-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.30.0-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.30.0-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.30.0-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.29-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.30.0-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.30.0-nutanix.yaml
  pkg/userdata/centos/testdata/kubelet-v1.30.0-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.30.0-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.30.0-vsphere.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.29.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.30.0.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.29.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.30.0.json
  pkg/userdata/helper/kubelet.go
  pkg/userdata/helper/template_functions.go
  pkg/userdata/helper/testdata/kublet_systemd_unit_cloud-provider-set.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_pause-image-set.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_taints-set.golden
  pkg/userdata/rhel/testdata/kubelet-v1.29-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.29-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.30.0-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.30.0-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.30.0-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.30.0-vsphere.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.30.0-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.30.0-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.30.0-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.30.0-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.30.0-vsphere.yaml
  pkg/userdata/ubuntu/testdata/nutanix.yaml
  pkg/userdata/ubuntu/testdata/openstack.yaml
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Update README.md
  README.md
Due: none

Fix vSphere anti-affinity
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-anti-affinity.yaml
Due: pull-machine-controller-e2e-nutanix

Fix vSphere anti-affinity (#1779)
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-anti-affinity.yaml
Due: pull-machine-controller-e2e-nutanix

Fix tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Update image for vsphere anti-affinity prow job
  .prow/provider-vsphere.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

[TEST]
  README.md
Due: none

Fixes
  pkg/cloudprovider/provider/vsphere/rule.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

[release/v1.59] Fix vSphere anti-affinity (#1781)
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-anti-affinity.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.57] Fix vSphere anti-affinity (#1783)
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-anti-affinity.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.58] Fix vSphere anti-affinity (#1782)
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-anti-affinity.yaml
Due: pull-machine-controller-e2e-nutanix

Code cleanup
  Makefile
  cmd/webhook/main.go
  pkg/admission/admission.go
  pkg/admission/machines.go
  pkg/controller/machine/controller.go
  pkg/controller/util/machine.go
  pkg/providerconfig/types/types.go
Due: none

Update scripts
  hack/ci/run-e2e-tests.sh
  hack/run-machine-controller.sh
  hack/verify-boilerplate.sh
Due: pre-machine-controller-verify-shfmt

Remove pipelines for testing userdata
  .prow/provider-aws.yaml
  .prow/provider-gcp.yaml
Due: none

deprecate use-external-bootstrap
  cmd/machine-controller/main.go
  cmd/webhook/main.go
Due: none

Update Dockerfile
  Dockerfile
Due: none

Cleanup for pipelines
  examples/machine-controller.yaml
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-machine-controller-in-kind.sh
  hack/run-machine-controller.sh
  test/e2e/provisioning/all_e2e_test.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

More cleanup
  pkg/admission/machines.go
  pkg/apis/plugin/plugin.go
Due: none

More cleanup
  pkg/apis/cluster/common/consts.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/kubeconfig.go
  pkg/controller/machine/kubeconfig_test.go
Due: none

Update README
  README.md
Due: none

Fix formatting for scripts
  hack/ci/download-gocache.sh
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-machine-controller-in-kind.sh
  hack/lib.sh
  hack/run-machine-controller.sh
  hack/verify-boilerplate.sh
  image-builder/build.sh
  image-builder/download_kubernetes.sh
Due: pre-machine-controller-verify-shfmt

Make use-external-bootstrap no-op
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  pkg/admission/admission.go
  pkg/admission/machines.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types_test.go
  pkg/userdata/flatcar/flatcar.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
