Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Add missing --resolv-conf to kubelet
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Update fixtures
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.22.7.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
Due: pull-machine-controller-e2e-nutanix

Enable --resolv-conf=/run/systemd/resolve/resolv.conf kubelet flag for Flatcar (#1379)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.22.7.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
Due: pull-machine-controller-e2e-nutanix

Add label on machine to differentiate between the tool used for managing machine configurations
  pkg/admission/machines.go
  pkg/controller/util/machine.go
Due: none

Add label on machine to differentiate between the tool used for managing machine configurations (#1382)
  pkg/admission/machines.go
  pkg/controller/util/machine.go
Due: none

Update OSM to v0.6.0
  examples/operating-system-manager.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Update OSM to v0.6.0 (#1383)
  examples/operating-system-manager.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Update fixtures
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
Due: pull-machine-controller-e2e-nutanix

Only attempt resource deletion in azure provider if finalizer is set
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Update testdata
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
Due: pull-machine-controller-e2e-nutanix

Only attempt resource deletion in azure provider if finalizer is set (#1386)
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Implement ProviderID() for Anexia
  pkg/cloudprovider/provider/anexia/instance.go
Due: none

[release/v1.42] Add missing --resolv-conf to kubelet (#1387)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
Due: pull-machine-controller-e2e-nutanix

[release/v1.45] Add missing --resolv-conf to kubelet (#1388)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] Add missing --resolv-conf to kubelet on flatcar (#1384)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
Due: pull-machine-controller-e2e-nutanix

Implement ProviderID() for Anexia (#1385)
  pkg/cloudprovider/provider/anexia/instance.go
Due: none

Fixed IPv6 string in machine object to align with hetzner ccm
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

Fixed IPv6 string in machine object to align with hetzner ccm (#1390)
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

fix kubevirt secondary disk naming
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

fix kubevirt secondary disk naming (#1389)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Update containerd to v1.5 for all Kubernetes versions
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/ubuntu/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

Run update-fixtures in a Docker container
  hack/lib.sh
  hack/update-fixtures.sh
Due: pre-machine-controller-verify-shfmt

set IPv6AcceptRA=true for Flatcar
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.22.7.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/helper/helper.go
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] Update containerd to v1.5 for all Kubernetes versions (#1392)
  hack/lib.sh
  hack/update-fixtures.sh
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/ubuntu/testdata/containerd.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Add `publicIPSKU` field to Azure provider
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Increase ignored complexity
  .golangci.yml
Due: none

Add `publicIPSKU` field to Azure provider (#1396)
  .golangci.yml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

enable DHCPv6 in RockyLinux
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

inline router advertisement setting; add comments
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/helper/helper.go
Due: pull-machine-controller-e2e-nutanix

Unified PR template update
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix sles description
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Unified PR template update (#1398)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix sles description (#1399)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

operating system compatability matrix update
  docs/operating-system.md
Due: none

operating system compatability matrix update (#1400)
  docs/operating-system.md
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
