Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Update filter for CentOS Linux images
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Fix e2e tests: Update CentOS image filters & vcenter datastores (#1482)
  pkg/cloudprovider/provider/aws/provider.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Change vcenter datastore to ceph
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Switching vshere e2e tests to Hamburg DC
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

KubeVirt fix pref wrong error check (#1480)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

add http source for kubevirt diskImage
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

vSphere: only delete tags created by machine-controller
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/helper_test.go
Due: none

add http source for kubevirt diskImage (#1470)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call (#1483)
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

KubeVirt deprecate Flavor - no migration
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-flavor.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

lint: make test datacenter constant
  pkg/cloudprovider/provider/vsphere/helper_test.go
Due: none

KubeVirt deprecate Flavor - no migration (#1491)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-flavor.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

Add cluster labels to KubeVirt VM
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Upgrade kubevirt.io/api to v0.58.0
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Clean up trailing whitespace
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: none

Adjust test data to new cluster labels
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
Due: none

Add ClusterName to KubeVirt providerconfig
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

Add documentation of new clusterName field for kubevirt
  docs/kubevirt.md
  examples/kubevirt-machinedeployment.yaml
Due: none

KubeVirt small cleanup: Flavor and PodAffinity
  examples/kubevirt-machinedeployment.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

KubeVirt small cleanup: Flavor and PodAffinity (#1494)
  examples/kubevirt-machinedeployment.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Update filter for CentOS Linux images (#1485)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

[release/v1.54] Update filter for CentOS Linux images (#1487)
  pkg/cloudprovider/provider/aws/provider.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Add cluster labels to kubevirt vm (#1472)
  docs/kubevirt.md
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-license-validation

Add dermorz to sig-osm
  OWNERS_ALIASES
Due: none

Set ownership for kubevirt provider to sig-virt
  OWNERS_ALIASES
  pkg/cloudprovider/provider/kubevirt/OWNERS
Due: none

adjust code for IPv6+IPv4
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/util/net.go
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack-IPv6+IPv4.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack-IPv6+IPv4.yaml
Due: pull-machine-controller-e2e-nutanix

add IPv6+IPv4 ip family type
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/util/net.go
  pkg/providerconfig/types/types.go
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider_test.go
Due: pull-machine-controller-e2e-nutanix

rebase
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack-IPv6+IPv4.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack-IPv6+IPv4.yaml
Due: pull-machine-controller-e2e-nutanix

Set ownership for kubevirt provider to sig-virt (#1496)
  OWNERS_ALIASES
  pkg/cloudprovider/provider/kubevirt/OWNERS
Due: none

run unit tests in github actions
  .github/workflows/cicd.yaml
Due: none

Update OSM deployment
  examples/operating-system-manager.yaml
Due: none

Update trigger condition for cloud provider specific E2E jobs
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-openstack.yaml
  .prow/provider-vsphere.yaml
Due: none

Update GO dependencies and DCO
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Update DCO
  CONTRIBUTING.md
  DCO
Due: none

Fix license and module proxy issue
  .wwhrd.yml
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/openstack/types/cloudconfig_test.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/sles/provider_test.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

[release/v1.45] Use new vSphere preset
  .prow.yaml
Due: none

Use new vSphere preset
  .prow.yaml
Due: none

Update trigger condition for cloud provider specific E2E jobs (#1499)
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-openstack.yaml
  .prow/provider-vsphere.yaml
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
