Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Update testdata generation
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/amzn2/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/centos/provider_test.go
  pkg/userdata/centos/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.24.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.24.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.24.0.golden
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/sles/provider_test.go
  pkg/userdata/sles/testdata/version-1.24.0.yaml
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.24.0.yaml
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Use containerd 1.5 for k8s 1.24, do not set removed kubelet flag
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

Update README with k8s 1.24
  README.md
Due: none

Use containerd 1.4 on amazon linux 2
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/userdata/amzn2/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Remove obsolete testdata that was not cleaned up
  pkg/userdata/amzn2/testdata/containerd-kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
  pkg/userdata/helper/testdata/download_binaries_v1.20.14.golden
  pkg/userdata/helper/testdata/download_binaries_v1.21.8.golden
  pkg/userdata/helper/testdata/download_binaries_v1.22.5.golden
  pkg/userdata/helper/testdata/download_binaries_v1.23.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.20.14-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.20.14.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.8-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.8.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.22.5-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.22.5.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.23.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.23.0.golden
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/sles/testdata/version-1.20.14.yaml
  pkg/userdata/sles/testdata/version-1.21.8.yaml
  pkg/userdata/sles/testdata/version-1.22.5.yaml
  pkg/userdata/sles/testdata/version-1.23.0.yaml
  pkg/userdata/ubuntu/testdata/version-1.20.14.yaml
  pkg/userdata/ubuntu/testdata/version-1.21.8.yaml
  pkg/userdata/ubuntu/testdata/version-1.22.5.yaml
  pkg/userdata/ubuntu/testdata/version-1.23.0.yaml
Due: pull-machine-controller-e2e-nutanix

Remove obsolete testdata that was not cleaned up (#1275)
  pkg/userdata/amzn2/testdata/containerd-kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
  pkg/userdata/helper/testdata/download_binaries_v1.20.14.golden
  pkg/userdata/helper/testdata/download_binaries_v1.21.8.golden
  pkg/userdata/helper/testdata/download_binaries_v1.22.5.golden
  pkg/userdata/helper/testdata/download_binaries_v1.23.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.20.14-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.20.14.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.8-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.8.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.22.5-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.22.5.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.23.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.23.0.golden
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/sles/testdata/version-1.20.14.yaml
  pkg/userdata/sles/testdata/version-1.21.8.yaml
  pkg/userdata/sles/testdata/version-1.22.5.yaml
  pkg/userdata/sles/testdata/version-1.23.0.yaml
  pkg/userdata/ubuntu/testdata/version-1.20.14.yaml
  pkg/userdata/ubuntu/testdata/version-1.21.8.yaml
  pkg/userdata/ubuntu/testdata/version-1.22.5.yaml
  pkg/userdata/ubuntu/testdata/version-1.23.0.yaml
Due: pull-machine-controller-e2e-nutanix

keep cloud flags
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

remove --cloud-config
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

set kubelet --node-ip flag depending on IP family
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/helper/helper.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

.
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

.
  pkg/userdata/helper/helper.go
Due: pull-machine-controller-e2e-nutanix

flatcar: explicitly stop masked units on first boot (#1271)
  hack/lib.sh
  hack/update-fixtures.sh
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/ignition_v1.21.10.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.7.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Update containerd to 1.5
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
Due: none

Update fixtures
  pkg/userdata/ubuntu/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

Update containerd to 1.5 for all Kubernetes versions (#1277)
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/userdata/ubuntu/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

Merge commit from upstream to get containerd support in flatcar.
  cmd/machine-controller/main.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.19.15.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.11.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.2.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.19.15.json
  pkg/userdata/flatcar/testdata/ignition_v1.20.11.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.2.json
  pkg/userdata/helper/helper.go
Due: pull-machine-controller-e2e-nutanix

Move KubeVirt tests to new cluster
  .prow.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

enable DHCPv6 in RHEL
  pkg/userdata/rhel/provider.go
Due: pull-machine-controller-e2e-nutanix

update tests
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

adapt for changing default interface names
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

remove sudo usage, we already have superpowers
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

Remove use-osm flag from run-machine-controller script
  hack/run-machine-controller.sh
Due: pre-machine-controller-verify-shfmt

remove check for dualstack unsupported zones in GCP
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
Due: none

refactor kubevirt tests
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

refactor kubevirt tests (#1284)
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

enable DHCPv6 on RHEL (#1280)
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

Remove use-osm flag from run-machine-controller script (#1282)
  hack/run-machine-controller.sh
Due: pre-machine-controller-verify-shfmt

remove check for dualstack unsupported zones in GCP (#1283)
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
Due: none

Fix machine cleanup on azure
  go.mod
  go.sum
  pkg/cloudprovider/provider/azure/provider.go
Due: pull-machine-controller-license-validation

Fix machine cleanup on azure (#1286)
  go.mod
  go.sum
  pkg/cloudprovider/provider/azure/provider.go
Due: pull-machine-controller-license-validation

Only attempt resource deletion in azure provider if finalizer is set
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

rh_subscriprion cloud-init
  pkg/cloudprovider/provider/azure/provider.go
  pkg/controller/machine/bootstrap.go
Due: none

RHEL updated to 8.5 in Azure
  pkg/cloudprovider/provider/azure/provider.go
  pkg/controller/machine/bootstrap.go
Due: none

yum update change in Azure
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

/etc/hostname patched also for rhel in Openstack
  pkg/controller/machine/bootstrap.go
Due: none

update fixtures
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

docs(anexia): add info for templates
  docs/anexia.md
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
