Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Update OSM deployment (#1498)
  examples/operating-system-manager.yaml
Due: none

Support for IPv6+IPv4 IP Family (#1493)
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/util/net.go
  pkg/providerconfig/types/types.go
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack-IPv6+IPv4.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack-IPv6+IPv4.yaml
Due: pull-machine-controller-e2e-nutanix

disable flatcar tests for vsphere
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Set EvictionStrategy to external on kubevirt VMI
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Add remark about EvictionStratey in kubevirt docs
  docs/kubevirt.md
Due: none

Adjust testdata
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
Due: none

Improve kubevirt eviction strategy docs
  docs/kubevirt.md
Due: none

Set EvictionStrategy to external on KubeVirt VMs (#1504)
  docs/kubevirt.md
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
Due: none

Update Go dependencies and DCO (#1500)
  .wwhrd.yml
  CONTRIBUTING.md
  DCO
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/openstack/types/cloudconfig_test.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/sles/provider_test.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Make CloudConfigToString a struct receiver function called String and deprecate static function
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig_test.go
Due: none

make deprecation notice more clear on what function to use
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
Due: none

disable flatcar tests for vsphere (#1503)
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

debug
  README.md
Due: none

Remove proxyURL for Nutanix
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
Due: pull-machine-controller-e2e-nutanix

fix godot
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
Due: none

[WIP] Switch KubeVirt CI to DC
  .prow/e2e-features.yaml
  .prow/provider-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Make CloudConfigToString a struct receiver function called String (#1505)
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig_test.go
Due: none

[WIP] Switch KubeVirt CI to DC (#1508)
  .prow/e2e-features.yaml
  .prow/provider-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call (#1483)
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Fix e2e tests
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call (#1483) (#1509)
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

disable flatcar tests for vsphere (#1512)
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Upgrade to Go 1.19.4
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  examples/operating-system-manager.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.45] Update filter for CentOS Linux images (#1488)
  .prow.yaml
  pkg/cloudprovider/provider/aws/provider.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Upgrade to Go 1.19.4 (#1514)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  examples/operating-system-manager.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

KubeVirt cleanup switch CI to DC
  .prow/e2e-features.yaml
  .prow/provider-kubevirt.yaml
Due: none

KubeVirt cleanup switch CI to DC (#1515)
  .prow/e2e-features.yaml
  .prow/provider-kubevirt.yaml
Due: none

Add validation for image-cloning and custom-images for kubevirt
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: none

Add validation for image-cloning and custom-images for kubevirt (#1517)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: none

Allow manually configuring containerd version via CLI flag
  cmd/machine-controller/main.go
  pkg/containerruntime/config.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
Due: none

Also configure docker's containerd version via CLI flag
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
Due: none

Allow manually configuring containerd version via CLI flag (#1518)
  cmd/machine-controller/main.go
  pkg/containerruntime/config.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
Due: none

Update Kubernetes deps to v1.26.0 and controller-runtime to v0.14.1
  go.mod
  go.sum
  pkg/admission/machinedeployments_validation.go
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: pull-machine-controller-license-validation

Update Kubernetes deps to v1.26.0 and controller-runtime to v0.14.1 (#1519)
  go.mod
  go.sum
  pkg/admission/machinedeployments_validation.go
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: pull-machine-controller-license-validation

Allow specifying full image reference for GCP
  pkg/cloudprovider/provider/gce/config.go
Due: none

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call (#1510)
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Allow specifying full image reference for GCP (#1520)
  pkg/cloudprovider/provider/gce/config.go
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
