Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

Upgrade to Go 1.23.2
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update k8s versions to latest patch
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
Due: pull-machine-controller-e2e-nutanix

Upgrade to Go 1.23.2 (#1867)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update k8s versions to latest patch (#1868)
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
Due: pull-machine-controller-e2e-nutanix

Fix typo in template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

Fix typo in template.go (#1869)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

support ubuntu nobel (#1858)
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
Due: pull-machine-controller-e2e-equinix-metal

Drop support for Kubernetes v1.28
  README.md
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Drop support for Kubernetes v1.28 (#1870)
  README.md
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

replace packethost/packngo with equinix SDK
  go.mod
  go.sum
  pkg/cloudprovider/provider/equinixmetal/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal

refactor kubervirt provider storage
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

fix failing tests
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

Refactor kubervirt provider storage (#1872)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

Added the multuqueue spec to network interfaces
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

cleanup
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Changed funtion name
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Added tests
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: pull-machine-controller-e2e-kubevirt

replace packethost/packngo with equinix SDK (#1871)
  go.mod
  go.sum
  pkg/cloudprovider/provider/equinixmetal/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal

support enableNetworkMultiQueue in KV VMs
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

adjust the tests
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

Support VM Network Multi-Queue in KubeVirt Provider (#1874)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

remove centos support from machine controller
  Makefile
  README.md
  docs/howto-provider.md
  docs/openstack-images.md
  docs/operating-system.md
  docs/vsphere.md
  examples/digitalocean-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/operating-system-manager.yaml
  examples/scaleway-machinedeployment.yaml
  hack/build-kubevirt-images.sh
  hack/e2e-setup-openstack-images.sh
  hack/kubevirt_dockerfiles/dockerfile.centos
  hack/setup-openstack-images.sh
  image-builder/README.md
  image-builder/build.sh
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/openstack.yaml
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/centos/centos.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

test hetzner e2e test
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

fix bug with serverType and add new Hetzner server types
  docs/cloud-provider.md
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
Due: pull-machine-controller-e2e-nutanix

separate error handling with nil checking for clarity
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

Fix bug with handling server types and add new Hetzner server types (#1877)
  docs/cloud-provider.md
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
Due: pull-machine-controller-e2e-nutanix

support extra headers in the CDI volume importing
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

adding tests
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
Due: pull-machine-controller-e2e-kubevirt

exclude getConfig method from the cyclomatic check
  .golangci.yml
Due: none

remove centos support from machine controller (#1876)
  Makefile
  README.md
  docs/howto-provider.md
  docs/openstack-images.md
  docs/operating-system.md
  docs/vsphere.md
  examples/digitalocean-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/operating-system-manager.yaml
  examples/scaleway-machinedeployment.yaml
  hack/build-kubevirt-images.sh
  hack/e2e-setup-openstack-images.sh
  hack/kubevirt_dockerfiles/dockerfile.centos
  hack/setup-openstack-images.sh
  image-builder/README.md
  image-builder/build.sh
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/openstack.yaml
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/centos/centos.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Support Importing Volume Over HTTP Using Basic Auth (#1878)
  .golangci.yml
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

feat(metrics): add machine deployment metrics
  cmd/machine-controller/main.go
  pkg/controller/machinedeployment/metrics.go
Due: none

refactor ubuntu arm image in aws
  pkg/cloudprovider/provider/aws/provider.go
Due: none

refactor ubuntu arm image in aws (#1880)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.60] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1881)
  OWNERS_ALIASES
Due: none

[release/v1.60] Synchronize OWNERS_ALIASES file with Github teams (#1882)
  OWNERS_ALIASES
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
