Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-linode, pull-machine-controller-e2e-packet, pull-machine-controller-e2e-cherryservers

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.2.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-e2e-linode:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-linode: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.16.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestLinodeProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-packet:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-packet: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.16.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestPacketProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.16.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

Machine controller osm integration (#1074)
  cmd/machine-controller/main.go
  go.mod
  go.sum
  hack/run-machine-controller.sh
  pkg/cloudprovider/provider/packet/provider.go
  pkg/cloudprovider/util/cloud_init_settings.go
  pkg/clusterinfo/configmap.go
  pkg/controller/machine/machine_controller.go
  pkg/userdata/ubuntu/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-packet

enable vsphere e2e tests
  .prow.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: none

enable vsphere e2e tests (#1079)
  .prow.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: none

Update kubectl version for ci e2e environment
  hack/ci-e2e-test.sh
Due: pre-machine-controller-verify-shfmt

Update e2e cluster configuration to use k8s v1.22.2 with containerd as CRI
  hack/run-machine-controller.sh
  test/tools/integration/Makefile
  test/tools/integration/hetzner.tf
  test/tools/integration/master_install_script.sh
Due: pre-machine-controller-verify-shfmt

Templatize container runtime health check to pick container runtime dynamically
  pkg/userdata/flatcar/provider.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/sles/provider.go
Due: none

Update test fixture for flatcard instance with cri containerd
  pkg/userdata/flatcar/testdata/containerd.yaml
Due: none

make containerd the default cri
  cmd/machine-controller/main.go
Due: none

upgrading k8s master node in e2e tests
  hack/ci-e2e-test.sh
  test/tools/integration/hetzner.tf
  test/tools/integration/master_install_script.sh
Due: pre-machine-controller-verify-shfmt

upgrading k8s versions in e2e tests
  test/e2e/provisioning/helper.go
  test/tools/integration/master_install_script.sh
Due: none

debug
  test/tools/integration/master_install_script.sh
Due: none

configure containerd
  test/tools/integration/master_install_script.sh
Due: none

add buildah
  test/tools/integration/master_install_script.sh
Due: none

run containerd as cri in e2e tests
  test/e2e/provisioning/helper.go
Due: none

debug
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider.go
Due: none

Update script to install master node for integration tests
  test/tools/integration/master_install_script.sh
Due: none

Remove invalid trailing slash from run-machine-controller.sh
  hack/run-machine-controller.sh
Due: pre-machine-controller-verify-shfmt

Fix linting errors
  hack/run-machine-controller.sh
  pkg/userdata/helper/kubelet.go
Due: pre-machine-controller-verify-shfmt

Remove deprecated commands for terraform
  hack/ci-e2e-test.sh
  test/e2e/provisioning/helper.go
Due: pre-machine-controller-verify-shfmt

revert debug
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider.go
  test/e2e/provisioning/helper.go
Due: none

this should not work
  pkg/controller/nodecsrapprover/node_csr_approver.go
Due: none

fixing defaults
  cmd/machine-controller/main.go
  test/e2e/provisioning/all_e2e_test.go
Due: none

fix container runtime defaulting bug
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/ubuntu/provider.go
  test/e2e/provisioning/helper.go
Due: none

update flatcar image in azure
  pkg/cloudprovider/provider/azure/provider.go
Due: none

fix custom tests
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  test/e2e/provisioning/all_e2e_test.go
Due: none

Upgrade e2e tests (#1080)
  hack/ci-e2e-test.sh
  pkg/cloudprovider/provider/azure/provider.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/ubuntu/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/tools/integration/hetzner.tf
  test/tools/integration/master_install_script.sh
Due: pre-machine-controller-verify-shfmt

disable e2e tests for vSphere cloud provider temporarily
  test/e2e/provisioning/all_e2e_test.go
Due: none

disable e2e tests for vSphere cloud provider temporarily (#1086)
  test/e2e/provisioning/all_e2e_test.go
Due: none

Provide hostname to kubelet for AWS instances with external CCM
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
Due: none

enable e2e tests for vSphere cloud provider
  test/e2e/provisioning/all_e2e_test.go
Due: none

Change getImageByName to use the Image client
  pkg/cloudprovider/provider/openstack/helper.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
Due: none

enable e2e tests for vSphere cloud provider (#1088)
  test/e2e/provisioning/all_e2e_test.go
Due: none

Use CentOS 7 images issued by CentOS CPE team as default
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-e2e-linode: any of: pkg\/cloudprovider\/provider\/linode\/.*
  pull-machine-controller-e2e-packet: any of: pkg\/cloudprovider\/provider\/packet\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
