Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

pass networkconfig everywhere
  cmd/machine-controller/main.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

fix generated rhel user data
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

Alibaba Images names (#1215)
  pkg/cloudprovider/provider/alibaba/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

consider pod cidr information during instance creation (#1207)
  cmd/machine-controller/main.go
  pkg/apis/plugin/plugin.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/validationwrapper.go
  pkg/controller/machine/machine_controller.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

fix nil pointer
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-nutanix

assign ipv6 address to aws
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/types/types.go
Due: none

reorg imports
  pkg/cloudprovider/types/types.go
Due: none

Rename diskType fields to diskSKU (Azure nomenclature)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Check if SKU supports premium storage
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Add support for setting disk types (OS and data)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Use correct disk types to compare against
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Cache SKU information
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Include Azure disk SKUs in e2e testing
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
Due: pull-machine-controller-e2e-nutanix

Fix various linter errors
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

add conditions & tests
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/anexia/utils/utils.go
Due: pull-machine-controller-license-validation

Add missing boilerplate to files
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/anexia/utils/utils.go
Due: none

Anexia provider: add dummy updater for tests
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

refactor controller utilities
  pkg/controller/machine/machine_controller.go
  pkg/controller/machinedeployment/rolling.go
  pkg/controller/machinedeployment/sync.go
  pkg/controller/util/machine.go
  pkg/controller/util/machine_deployment.go
Due: none

refactor controller utilities (#1218)
  pkg/controller/machine/machine_controller.go
  pkg/controller/machinedeployment/rolling.go
  pkg/controller/machinedeployment/sync.go
  pkg/controller/util/machine.go
  pkg/controller/util/machine_deployment.go
Due: none

Kubevirt Add common label to all VMs linked to the same MachineDeployment
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Use the helper function to get the MD name
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

flatcar/provider.go: added stop command to service mask
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Update test data
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

added stop command to userDataIgnitionTemplate
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Make anexia provider more resilient against errors (#1175)
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/anexia/utils/utils.go
Due: pull-machine-controller-license-validation

move ContainsCIDR to utils package
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/util/net.go
Due: none

generalize ContainsCIDRs
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/util/net.go
Due: none

Implement disk SKU validation for ultra disks as well
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

remvoe youssefazrak from the MC maintainers
  OWNERS_ALIASES
Due: none

CyClOmAtIc CoMpLeXitY
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Add Helene and Sankalp o the owners
  .gitignore
  OWNERS_ALIASES
Due: none

remvoe youssefazrak from the MC maintainers (#1221)
  OWNERS_ALIASES
Due: none

New -kubernetes-version-constraints webhook flag
  cmd/webhook/main.go
  pkg/admission/admission.go
  pkg/admission/machines.go
Due: none

Add Helene and Sankalp o the owners (#1223)
  .gitignore
  OWNERS_ALIASES
Due: none

Kubevirt Add common label to all VMs linked to the same MachineDeployment (#1217)
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

New -kubernetes-version-constraints webhook flag (#1222)
  cmd/webhook/main.go
  pkg/admission/admission.go
  pkg/admission/machines.go
Due: none

org imports
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/util/net.go
  pkg/node/poddeletion/pod_deletion.go
Due: none

assign ipv6 address to aws (#1208)
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/util/net.go
  pkg/node/poddeletion/pod_deletion.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-nutanix

log absence of ipv6 pod cidr
  pkg/cloudprovider/provider/aws/provider.go
Due: none

show ipv6 address in machine status
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/util/net.go
Due: none
