Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Use correct disk types to compare against
  pkg/cloudprovider/provider/azure/provider.go
Due: none

CyClOmAtIc CoMpLeXitY
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Use map instead of slice to store allowed SKUs
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Cache SKU information
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Check if SKU supports premium storage
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Implement disk SKU validation for ultra disks as well
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Update Azure SDK and API version (#1201)
  go.mod
  go.sum
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
Due: pull-machine-controller-license-validation

Update package repo path for buildah
  test/tools/integration/master_install_script.sh
Due: none

Update package repo path for buildah (#1302)
  test/tools/integration/master_install_script.sh
Due: none

refactor kubevirt tests (#1284)
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Fix typo
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] Update package repo path for Buildah (#1303)
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
  test/tools/integration/master_install_script.sh
Due: pull-machine-controller-e2e-nutanix

Refactor handling of kubeconfig for kubevirt
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Test kubevirt kubeconfig updates in CI
  examples/machine-controller.yaml
Due: none

Refactor handling of kubeconfig for kubevirt (#1301)
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] Add support for setting Azure disk types (OS and data) (#1299)
  go.mod
  go.sum
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Refactor handling of kubeconfig for kubevirt
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Refactor handling of kubeconfig for kubevirt (#1306)
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

docs: include rocky linux in compatibility matrix (#1297)
  docs/operating-system.md
Due: none

Explicitly set root user in kubelet systemd unit
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

Add docker credentials support for ubuntu
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/docker.yaml
Due: pull-machine-controller-e2e-nutanix

Add support for SecretTypeDockerConfigJson
  pkg/containerruntime/config.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
Due: none

Fix typo
  cmd/machine-controller/main.go
Due: none

Add docker credential support to remaining distributions
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
Due: pull-machine-controller-e2e-nutanix

Add documentation for additional supported secret type
  docs/registry-authentication.md
Due: none

AuthConfig to return emptystring if registryCredentials is not set
  pkg/containerruntime/docker.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

Switch to Ubuntu 22.04 LTS for e2e tests
  test/tools/integration/hetzner.tf
  test/tools/integration/master_install_script.sh
Due: none

Use containerd 1.5 for e2e tests
  test/tools/integration/master_install_script.sh
Due: none

Fix short-name resolution
  Dockerfile
Due: none

Fix debian frontend issue
  test/tools/integration/master_install_script.sh
Due: none

Switch to Ubuntu 22.04 LTS for e2e tests (#1307)
  Dockerfile
  test/tools/integration/hetzner.tf
  test/tools/integration/master_install_script.sh
Due: none

Add support for VMware Cloud Director as cloud provider
  .gitignore
  .prow/provider-vcloud-director.yaml
  .wwhrd.yml
  README.md
  cmd/provision/README.md
  docs/VMware Cloud Director.md
  docs/operating-system.md
  examples/vmware-cloud-director-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vmware-cloud-director/client.go
  pkg/cloudprovider/provider/vmware-cloud-director/helper.go
  pkg/cloudprovider/provider/vmware-cloud-director/provider.go
  pkg/cloudprovider/provider/vmware-cloud-director/types/types.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/providerconfig/types/types.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Refactor sample MD for VCD
  examples/vmware-cloud-director-machinedeployment.yaml
Due: none

Refactored code
  .gitignore
  docs/vmware-cloud-director.md
  pkg/cloudprovider/provider/vmware-cloud-director/client.go
  pkg/cloudprovider/provider/vmware-cloud-director/helper.go
  pkg/cloudprovider/provider/vmware-cloud-director/provider.go
Due: none

Refactored code
  pkg/cloudprovider/provider/vmware-cloud-director/client.go
  pkg/cloudprovider/provider/vmware-cloud-director/helper.go
Due: none

Add support for VMware Cloud Director as cloud provider (#1300)
  .gitignore
  .prow/provider-vcloud-director.yaml
  .wwhrd.yml
  README.md
  cmd/provision/README.md
  docs/operating-system.md
  docs/vmware-cloud-director.md
  examples/vmware-cloud-director-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vmware-cloud-director/client.go
  pkg/cloudprovider/provider/vmware-cloud-director/helper.go
  pkg/cloudprovider/provider/vmware-cloud-director/provider.go
  pkg/cloudprovider/provider/vmware-cloud-director/types/types.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/providerconfig/types/types.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

vcd: set computer name for VM
  pkg/cloudprovider/provider/vmware-cloud-director/helper.go
  pkg/cloudprovider/provider/vmware-cloud-director/provider.go
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
