Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

[release/v1.37] Refactor handling of kubeconfig for kubevirt (#1360)
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

set --node-ip depending on external CCM availaibilty in dualstack (#1336)
  hack/run-machine-controller.sh
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/helper/kubelet_test.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

fix kubevirt dns e2e tests
  test/e2e/provisioning/testdata/machinedeployment-kubevirt-dns-config.yaml
Due: pull-machine-controller-e2e-nutanix

fix KubeVirt DNS test
  test/e2e/provisioning/testdata/machinedeployment-kubevirt-dns-config.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.36] Refactor handling of kubeconfig for kubevirt (#1359)
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt-dns-config.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Equinix: use m3.small.x86 for CentOS E2E tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

rename vSphere os image templates
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

vcd: add support for flatcar
  docs/operating-system.md
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

adjust vsphere tests
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
Due: pull-machine-controller-e2e-nutanix

use vsphere legacy preset
  .prow.yaml
Due: none

use vsphere legacy preset
  .prow/provider-vsphere.yaml
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Rename vSphere os image templates (#1364)
  .prow/provider-vsphere.yaml
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

disable azure tests temporarily
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

disable azure tests temporarily (#1365)
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Equinix: use m3.small.x86 for CentOS E2E tests (#1363)
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Add IPFamily options in vSphere cloudconfig API
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig_test.go
  pkg/cloudprovider/provider/vsphere/types/testdata/3-dual-stack.golden
  pkg/cloudprovider/provider/vsphere/types/testdata/simple-config.golden
Due: none

Make ip-family optional in vsphere cloud-config
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/testdata/2-virtual-centers.golden
  pkg/cloudprovider/provider/vsphere/types/testdata/simple-config.golden
Due: none

test
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-e2e-nutanix

Disable mutating webhooks for testing
  examples/machine-controller.yaml
Due: none

Add IPFamily options in vSphere cloud config API (#1366)
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig_test.go
  pkg/cloudprovider/provider/vsphere/types/testdata/3-dual-stack.golden
Due: none

Fix unmarshalling for configvarstring
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
Due: none

Fix unmarshalling for configvarstring (#1367)
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
Due: none

test
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Enable OSM in E2E tests
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Enable OSM by default in the script to run MC locally
  hack/run-machine-controller.sh
Due: pre-machine-controller-verify-shfmt

Add E2E test for legacy userdata
  .prow/provider-aws.yaml
  examples/machine-controller.yaml
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Add RBAC to give machine-controller's webhook access to OSP
  examples/machine-controller.yaml
Due: none

Use latest commit from master for OSM
  examples/operating-system-manager.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Add defaulting OSP annotation for rockylinux
  pkg/admission/machinedeployments_validation.go
Due: none

Fix RBAC for OSM
  examples/operating-system-manager.yaml
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/admission/machinedeployments_validation.go
Due: pre-machine-controller-verify-shfmt

Flatcar support for VMware Cloud Director
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

Use custom image for testing OSM
  examples/operating-system-manager.yaml
Due: none

Remove invalid import
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
Due: none

Fix logic for finding node by ProviderID
  pkg/controller/machine/machine_controller.go
Due: none

Implement ProviderID function for cloud providers
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Extend the Instance interface with ProviderID() function
  pkg/cloudprovider/instance/instance.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/controller/machine/machine_test.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix
