Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)

Pin OSM to v1.2.2
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

VCD: Fix compute and sizing policies (#1688)
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

[release/v1.54] Fix E2E tests for VMware Cloud Director (#1690)
  hack/ci/setup-machine-controller-in-kind.sh
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

[release/v1.56] Fix E2E tests for VMware Cloud Director (#1689)
  hack/ci/setup-machine-controller-in-kind.sh
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

VCD: Fix compute and sizing policies (#1686)
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

VCD: Fix compute and sizing policies (#1687)
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

Update Kubernetes patch versions for E2E tests
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.25.11.golden
  pkg/userdata/helper/testdata/download_binaries_v1.25.12.golden
  pkg/userdata/helper/testdata/download_binaries_v1.25.5.golden
  pkg/userdata/helper/testdata/download_binaries_v1.25.9.golden
  pkg/userdata/helper/testdata/download_binaries_v1.26.7.golden
  pkg/userdata/helper/testdata/download_binaries_v1.27.4.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.12-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.12.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.4-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.4.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.6-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.6.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.7-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.7.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.1-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.1.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.3-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.3.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.4-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.4.golden
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.25.12.yaml
  pkg/userdata/ubuntu/testdata/version-1.25.9.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.0.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.7.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.3.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.4.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Remove support for docker
  cmd/machine-controller/main.go
  examples/machine-controller.yaml
  hack/ci/setup-machine-controller-in-kind.sh
  hack/run-machine-controller.sh
  pkg/containerruntime/config.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/ubuntu/testdata/multiple-ssh-keys.yaml
  pkg/userdata/ubuntu/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/ubuntu/testdata/vsphere-mirrors.yaml
  pkg/userdata/ubuntu/testdata/vsphere-proxy.yaml
  pkg/userdata/ubuntu/testdata/vsphere.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Refactored code
  cmd/machine-controller/main.go
Due: none

Update Kubernetes patch versions for E2E tests (#1691)
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.25.11.golden
  pkg/userdata/helper/testdata/download_binaries_v1.25.12.golden
  pkg/userdata/helper/testdata/download_binaries_v1.25.5.golden
  pkg/userdata/helper/testdata/download_binaries_v1.25.9.golden
  pkg/userdata/helper/testdata/download_binaries_v1.26.7.golden
  pkg/userdata/helper/testdata/download_binaries_v1.27.4.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.12-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.12.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.4-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.4.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.6-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.6.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.7-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.7.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.1-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.1.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.3-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.3.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.4-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.4.golden
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.25.12.yaml
  pkg/userdata/ubuntu/testdata/version-1.25.9.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.0.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.7.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.3.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.4.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Remove support for docker (#1692)
  cmd/machine-controller/main.go
  examples/machine-controller.yaml
  hack/ci/setup-machine-controller-in-kind.sh
  hack/run-machine-controller.sh
  pkg/containerruntime/config.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/ubuntu/testdata/multiple-ssh-keys.yaml
  pkg/userdata/ubuntu/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/ubuntu/testdata/vsphere-mirrors.yaml
  pkg/userdata/ubuntu/testdata/vsphere-proxy.yaml
  pkg/userdata/ubuntu/testdata/vsphere.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Fix version of k8s.io/client-go in go.mod
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Fix version of k8s.io/client-go in go.mod (#1693)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Fix version of k8s.io/client-go in go.mod (#1694)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Propagate datastore cluster for vSphere to cloud-config
  pkg/cloudprovider/provider/vsphere/provider.go
Due: none

Propagate datastore cluster for vSphere to cloud-config (#1695)
  pkg/cloudprovider/provider/vsphere/provider.go
Due: none

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams (#1696)
  OWNERS_ALIASES
Due: none

Check for all 404 error types for openstack get
  pkg/cloudprovider/provider/openstack/helper.go
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

Update fixtures and yamllint config
  .yamllint.conf
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Support for Kubernetes v1.28
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.28.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.0.golden
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.28.0.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Support for Kubernetes v1.28 (#1699)
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.28.0.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.0-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.0.golden
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.28.0.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Satisfy fake clients requirement of finalizers with DeletionTimeStamp
  pkg/controller/machine/controller_test.go
Due: none

Revert change in all_e2e_test.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Refactored code
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Install socat explicitly in KIND cluster
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Install socat explicitly in KIND cluster (#1701)
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Update project owners
  OWNERS_ALIASES
Due: none

Update project owners (#1703)
  OWNERS_ALIASES
Due: none

Update Kubernetes patch versions for E2E tests
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.25.14.golden
  pkg/userdata/helper/testdata/download_binaries_v1.26.9.golden
  pkg/userdata/helper/testdata/download_binaries_v1.27.6.golden
  pkg/userdata/helper/testdata/download_binaries_v1.28.2.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.14-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.14.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.9-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.9.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.6-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.6.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.2-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.2.golden
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.25.14.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.9.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.6.yaml
  pkg/userdata/ubuntu/testdata/version-1.28.2.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Update Kubernetes patch versions for E2E tests (#1705)
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.25.14.golden
  pkg/userdata/helper/testdata/download_binaries_v1.26.9.golden
  pkg/userdata/helper/testdata/download_binaries_v1.27.6.golden
  pkg/userdata/helper/testdata/download_binaries_v1.28.2.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.14-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.14.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.9-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.26.9.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.6-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.27.6.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.2-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.28.2.golden
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/version-1.25.14.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.9.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.6.yaml
  pkg/userdata/ubuntu/testdata/version-1.28.2.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

- Fix isssue of creation of multiple vultr instance due to eventual consistency of tags (#1706)
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/cloudprovider/provider/vultr/types/types.go
Due: pull-machine-controller-license-validation

Remove support for kubernetes v1.25
  .prow/e2e-features.yaml
  .prow/provider-openstack.yaml
  README.md
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/amzn2/testdata/kubelet-v1.28-aws.yaml
  pkg/userdata/centos/provider_test.go
  pkg/userdata/centos/testdata/kubelet-v1.28-aws.yaml
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.28.0.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.0.json
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.25.14.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.14-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.25.14.golden
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rhel/testdata/kubelet-v1.25-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.28-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.28-nutanix.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.28-aws.yaml
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/containerd.yaml
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack-IPv6+IPv4.yaml
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
  pkg/userdata/ubuntu/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/ubuntu/testdata/docker.yaml
  pkg/userdata/ubuntu/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/ubuntu/testdata/multiple-dns-servers.yaml
  pkg/userdata/ubuntu/testdata/multiple-ssh-keys.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack-IPv6+IPv4.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
  pkg/userdata/ubuntu/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/ubuntu/testdata/openstack.yaml
  pkg/userdata/ubuntu/testdata/vsphere-mirrors.yaml
  pkg/userdata/ubuntu/testdata/vsphere-proxy.yaml
  pkg/userdata/ubuntu/testdata/vsphere.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Fix issue with port not being allocated in time
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Fix AWS EBS tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix
