Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)

aws: fix rocky linux description filter
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

aws: fix rocky linux description filter (#1735)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

aws: fix rocky linux description filter (#1734)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Use JoinPath to construct vSphere url
  pkg/cloudprovider/provider/vsphere/client.go
Due: none

Flatcar Support for GCE
  pkg/cloudprovider/provider/gce/config.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Update compatibility matrix
  docs/operating-system.md
Due: none

Flatcar Support for GCE (#1739)
  docs/operating-system.md
  pkg/cloudprovider/provider/gce/config.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

kubevirt: allow setting storage volume access types
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

aws: fix rocky linux description filter (#1736)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Use JoinPath to construct vSphere url (#1738)
  pkg/cloudprovider/provider/vsphere/client.go
Due: none

[release/v1.56] Bump Prow jobs to latest 1.19 build image
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

[release/v1.56] Pin KKP to release/v2.22 branch
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.57] Bump Prow jobs and pin KKP version to match release branch
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.56] Bump Prow jobs and pin KKP version to match release branch (#1744)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.57] Bump Prow jobs and pin KKP version to match release branch (#1745)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Use JoinPath to construct vSphere url (#1743)
  pkg/cloudprovider/provider/vsphere/client.go
Due: none

Use JoinPath to construct vSphere url (#1742)
  pkg/cloudprovider/provider/vsphere/client.go
Due: none

Use JoinPath to construct vSphere url (#1741)
  pkg/cloudprovider/provider/vsphere/client.go
Due: none

Update Prow jobs to build image with Go 1.21.5
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

[release/v1.58] Update Prow jobs to build image with Go 1.21.5
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

Also update golang images
  .prow/verify.yaml
Due: none

[release/v1.57] Update Prow jobs to build image with Go 1.20.12
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Also update Dockerfile and Makefile
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.58] Also update Dockerfile and Makefile
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update OSM flags
  examples/operating-system-manager.yaml
Due: none

Use fixed build image
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.58] Use stable OSM release
  examples/operating-system-manager.yaml
Due: none

[release/v1.58] Update to fixed build image
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

???
  examples/operating-system-manager.yaml
Due: none

Update Prow jobs to build image with Go 1.21.5 (#1746)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  examples/operating-system-manager.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.58] Update Prow jobs to build image with Go 1.21.5 (#1747)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  examples/operating-system-manager.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.57] Update Prow jobs to build image with Go 1.20.12 (#1748)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Deprecate sig-virtualization
  OWNERS_ALIASES
  pkg/cloudprovider/provider/kubevirt/OWNERS
Due: none
