Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

Add support to provisioning vcloud workers with multiple nics/networks (#1941)
  pkg/admission/machinedeployments_validation.go
  pkg/admission/util.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  sdk/cloudprovider/vmwareclouddirector/types.go
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-e2e-nutanix

add support for nvme devices for tinkerbell provider (#1921)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

Delete everything related to Amazon Linux 2
  pkg/cloudprovider/provider/aws/provider.go
  sdk/providerconfig/types.go
  sdk/userdata/amzn2/config.go
  sdk/userdata/default.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Add new kubelet configs
  sdk/apis/cluster/common/consts.go
Due: none

Add new kubelet configs (#1972)
  sdk/apis/cluster/common/consts.go
Due: none

Move some pkg constants to sdk.
  pkg/controller/util/machine_deployment.go
  sdk/apis/cluster/common/consts.go
Due: none

Move some pkg constants to sdk. (#1973)
  pkg/controller/util/machine_deployment.go
  sdk/apis/cluster/common/consts.go
Due: none

[POC] Machine Provisioner CLI
  cmd/machine-provisioner/create.go
  cmd/machine-provisioner/main.go
  pkg/cloudprovider/types/types.go
  pkg/provisioner/provisioner.go
Due: none

Generate output for machine-provisioner
  cmd/machine-provisioner/create.go
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
Due: none

Wait till the public and private IP addresses are available
  cmd/machine-provisioner/create.go
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
Due: none

Support to specify SSH username
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
Due: none

SSH keys userdata
  pkg/provisioner/provisioner.go
Due: none

Reduce wait time
  pkg/provisioner/provisioner.go
Due: none

Remove unneeded fields
  pkg/provisioner/output.go
Due: none

Fix compilation
  cmd/machine-provisioner/create.go
  cmd/machine-provisioner/main.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
  sdk/providerconfig/configvar/resolver.go
Due: pull-machine-controller-e2e-kubevirt

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

fix reference for gen2 ubuntu sku for azure
  pkg/cloudprovider/provider/azure/config.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  sdk/providerconfig/configvar/resolver.go
Due: pull-machine-controller-e2e-kubevirt

fix reference for gen2 ubuntu sku for azure (#1978)
  pkg/cloudprovider/provider/azure/config.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  sdk/providerconfig/configvar/resolver.go
Due: pull-machine-controller-e2e-kubevirt

fix reference for gen2 ubuntu sku for azure (#1979)
  pkg/cloudprovider/provider/azure/config.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  sdk/providerconfig/configvar/resolver.go
Due: pull-machine-controller-e2e-kubevirt

add projectID param Signed-off-by: moadqassem <moad.qassem@gmail.com>
  sdk/cloudprovider/kubevirt/types.go
Due: none

introduce cluster id and project id Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

introduce cluster id and project id Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

Label KubeVirt VMs based on cluster id and project id (#1981)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

[release/v1.64] Label KubeVirt VMs based on cluster id and project id (#1982)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

Synchronize OWNERS_ALIASES file with Github teams (#1975)
  OWNERS_ALIASES
Due: none

drop support for k8s v1.31
  README.md
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

drop support for k8s v1.31 (#1985)
  README.md
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Bump Go version to 1.25.5
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Bump Go version to 1.25.5 (#1986)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Update base image for machine-controller container image to apline:3.23
  Dockerfile
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

Update base image for machine-controller container image to apline:3.23 (#1987)
  Dockerfile
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

[release/v1.62] Bump Go version to 1.24.12
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Fix noctx golang lint errors
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/rhsm/satellite_subscription_manager.go
  pkg/rhsm/subscription_manager.go
Due: none

Bump Go version to 1.25.6
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Bump Go version to 1.25.6 (#1989)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
