Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

Bump golang.org/x/* and google.golang.org/grpc
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Bump golang.org/x/text and google.golang.org/grpc
  go.mod
  go.sum
  pkg/cloudprovider/provider/gce/config.go
Due: pull-machine-controller-license-validation

Bump golang.org/x/text to v0.39.0 (#2060)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Bump golang.org/x/text to v0.39.0 (#2061)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Bump golang.org/x/text and google.golang.org/grpc (#2062)
  go.mod
  go.sum
  pkg/cloudprovider/provider/gce/config.go
Due: pull-machine-controller-license-validation

Update Go version to v1.26.7
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Update Go version to v1.25.14
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Revert the go.mod change
  go.mod
Due: pull-machine-controller-license-validation

Update Go version to v1.26.7 (#2067)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.65] Update Go version to v1.25.14 (#2068)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

feat: added support for NVMe disk controller for Azure VMs
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

Update pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

doc: add better documentation for changed code
  pkg/controller/machine/controller.go
  sdk/apis/cluster/v1alpha1/machine_types.go
Due: none

fix: Implement effective node drain timeout logic in eviction process
  pkg/controller/machine/controller.go
  sdk/apis/cluster/v1alpha1/machine_types.go
Due: none

fix: Add NodeDrainTimeout field to MachineDeploymentSpec for configurable drain duration
  sdk/apis/cluster/v1alpha1/machinedeployment_types.go
Due: none

fix: propagate NodeDrainTimeout from MachineDeployment to MachineSet template
  pkg/controller/machinedeployment/sync.go
Due: none

doc: add documentation for new NodeDrainTmiout ability
  sdk/apis/cluster/v1alpha1/machine_types.go
  sdk/apis/cluster/v1alpha1/machinedeployment_types.go
Due: none

test: add tests for the new drain behavior
  pkg/controller/machine/controller_test.go
Due: none

Add EBSOptimized field to RawConfig and update metricInstancesForMachines initialization
  pkg/cloudprovider/provider/aws/provider.go
  sdk/cloudprovider/aws/types.go
Due: none

Bump aws-sdk-go-v2 and related dependencies to latest versions
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Fix EBS optimization check to use the correct boolean set flag
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Add AWS ebsOptimized confg field (#2074)
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  sdk/cloudprovider/aws/types.go
Due: pull-machine-controller-license-validation

feat: added support for NVMe disk controller for Azure VMs (#2071)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

[release/v1.64] feat: added support for NVMe disk controller for Azure VMs (#2075)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

[release/v1.65] feat: added support for NVMe disk controller for Azure VMs (#2076)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

Bump golang.org/x/crypto
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Bump grpc, otel, x/crypto and mongo-driver
  go.mod
  go.sum
  pkg/cloudprovider/provider/gce/config.go
Due: pull-machine-controller-license-validation

Bump golang.org/x/crypto (#2077)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Bump grpc, otel, x/crypto and mongo-driver (#2078)
  go.mod
  go.sum
  pkg/cloudprovider/provider/gce/config.go
Due: pull-machine-controller-license-validation

add support for kubernetes 1.37
  README.md
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

use latest patch releases in e2e matrix
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Add support for Kubernetes 1.37 (#2081)
  README.md
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Add per-Machine eviction timeout override via annotation
  README.md
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/controller_test.go
Due: none

Cover the MachineDeployment leg of the eviction timeout override
  pkg/controller/util/machine_deployment_test.go
Due: none

Add missing license boilerplate headers
  pkg/controller/machineset/controller_test.go
  pkg/controller/util/machine_deployment_test.go
Due: none
