Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

test hetzner e2e test
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

separate error handling with nil checking for clarity
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

fix bug with serverType and add new Hetzner server types
  docs/cloud-provider.md
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.60] Fix bug with handling server types and add new Hetzner server types (#1884)
  docs/cloud-provider.md
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/hetzner.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
Due: pull-machine-controller-e2e-nutanix

Support KubeVirt CDI Datavolume secret ref Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

Support KubeVirt CDI Datavolume secret ref (#1885)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

remove centos support from machine controller (#1883)
  Makefile
  README.md
  docs/howto-provider.md
  docs/openstack-images.md
  docs/operating-system.md
  docs/vsphere.md
  examples/digitalocean-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/operating-system-manager.yaml
  examples/scaleway-machinedeployment.yaml
  hack/build-kubevirt-images.sh
  hack/e2e-setup-openstack-images.sh
  hack/kubevirt_dockerfiles/dockerfile.centos
  hack/setup-openstack-images.sh
  image-builder/README.md
  image-builder/build.sh
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/openstack.yaml
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/centos/centos.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

fix decode with tink-kubeconfig envar
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

fix decode with tink-kubeconfig envar (#1888)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

add partition number annotation
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
Due: none

fix lint
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
Due: none

templating the OSImageURL
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

Add partition number annotation (#1890)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
Due: none

[release/v1.60] Add partition number annotation (#1892)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
Due: none

fix decode with tink-kubeconfig envar (#1893)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1894)
  OWNERS_ALIASES
Due: none

feat(metrics): fix lint
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/controller/machinedeployment/metrics.go
Due: none

update
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
Due: none

baremetal: Templating OSImage links through Tinkerbell workflow objects (#1891)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

[release/v1.60] baremetal: Templating OSImage links through Tinkerbell workflow objects (#1895)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

feat(metrics): add machine deployment metrics (#1879)
  cmd/machine-controller/main.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/controller/machinedeployment/metrics.go
Due: none

Update README.md
  README.md
Due: none

support evictStrategy in VMs Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

add tests Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
Due: pull-machine-controller-e2e-kubevirt

Support kubevirt evection strategy in kv provider (#1897)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

add new external provider Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/external/provider.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: none

add new external provider (#1898)
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/external/provider.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: none

change ubuntu template for vsphere provisioning
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

injecting ssh key for tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

changing ubuntu template for vsphere tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

chaging template to ubuntu 24.04
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Change Ubuntu template for Vsphere e2e tests (#1899)
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
