Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

add dual stack support for DigitalOcean (#1323)
  pkg/cloudprovider/provider/digitalocean/provider.go
Due: none

Populate default OSP annotation if an empty value is provided for the OSP key
  pkg/admission/machinedeployments_validation.go
Due: none

Populate default OSP annotation if an empty value is provided for the OSP key (#1326)
  pkg/admission/machinedeployments_validation.go
Due: none

Remove cluster.cluster.k8s.io CRD and api type (#1296)
  examples/machine-controller.yaml
  pkg/apis/cluster/v1alpha1/cluster_types.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
Due: none

don't return on instance not found but must check all finalizers
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/util/util.go
  pkg/cloudprovider/util/util_test.go
Due: none

handle 404 - when resource group deleted manually
  pkg/cloudprovider/provider/azure/create_delete_resources.go
Due: none

avoid action if no finalizer (e.g already done)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

nothing to cleanup only if there are no finalizers
  pkg/controller/machine/machine_controller.go
Due: none

do not run cloud cleanup if no cloud finalizers left
  pkg/controller/machine/machine_controller.go
Due: none

Fix KubeVirt e2e Os images http server
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Add disableMachineServiceAccount configuration to GCE
  Makefile
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
Due: pull-machine-controller-e2e-nutanix

Fix KubeVirt e2e Os images http server (#1329)
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

update Go dependencies
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/nutanix/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

update Go dependencies (#1330)
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/nutanix/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

anexia: increase HTTP client timeout to 120s
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Replace jq with sed
  pkg/controller/machine/bootstrap.go
Due: none

anexia: increase HTTP client timeout to 120s (#1331)
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Remove dead code
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/helper/helper.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

Minor fixes on doc, revert Makefile and google monitoring go-sdk version
  Makefile
  docs/cloud-provider.md
  pkg/cloudprovider/provider/gce/provider.go
Due: none

Add disableMachineServiceAccount configuration to GCE (#1328)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
Due: pull-machine-controller-e2e-nutanix

add rockylinux to equinixmetal
  pkg/cloudprovider/provider/equinixmetal/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

add rockylinux to equinixmetal
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-e2e-nutanix

choose a smaller gce machine
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
Due: pull-machine-controller-e2e-nutanix

Support rockylinux in Equinixmetal cloud provider (#1338)
  pkg/cloudprovider/provider/equinixmetal/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Consume bootstrap config generated by OSM
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/controller/machine/bootstrap.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/util/machine.go
Due: pull-machine-controller-license-validation

Refactor: extract API server token for baremetal nodes
  pkg/cloudprovider/util/cloud_init_settings.go
  pkg/cloudprovider/util/cloud_init_settings_test.go
Due: none

Upgrade to go 1.18.3
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
Due: pre-machine-controller-verify-shfmt

add metro support for equinixmetal
  go.mod
  go.sum
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/equinixmetal/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

add metro support for equinixmetal (#1339)
  go.mod
  go.sum
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/equinixmetal/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Upgrade to go 1.18.3 (#1341)
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
Due: pre-machine-controller-verify-shfmt

Update OSM depedency
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Consume bootstrap config generated by OSM (#1335)
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/util/cloud_init_settings.go
  pkg/cloudprovider/util/cloud_init_settings_test.go
  pkg/controller/machine/bootstrap.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/util/machine.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/helper/helper.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Upgrade to alpine 3.16 for machine-controller's image
  Dockerfile
Due: none

update cri defaulting (#1140)
  pkg/containerruntime/containerruntime.go
  pkg/userdata/amzn2/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.2.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.19.15.json
  pkg/userdata/flatcar/testdata/ignition_v1.20.11.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.2.json
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-vsphere.yaml
  pkg/userdata/ubuntu/testdata/version-1.22.2.yaml
Due: pull-machine-controller-e2e-nutanix

Remove support for Kubernetes 1.21
  README.md
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/centos/provider_test.go
  pkg/userdata/centos/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.10.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.21.10.json
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.21.10.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.10-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.10.golden
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/sles/provider_test.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/nutanix.yaml
  pkg/userdata/ubuntu/testdata/version-1.21.10.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

remove unspecified case
  pkg/userdata/helper/helper.go
Due: pull-machine-controller-e2e-nutanix

paramterize kubelet flags template by node-ip
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

remove --node-ip flag for openstack in dualstack config
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
Due: pull-machine-controller-e2e-nutanix
