Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

fix anexia tests
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Improve SDK, add readme (#1915)
  pkg/admission/machines.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/resolve_config.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/external/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/metrics.go
  pkg/migrations/migrations.go
  sdk/README.md
  sdk/providerconfig/configvar/resolver.go
  sdk/providerconfig/resolver.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams (#1909)
  OWNERS_ALIASES
Due: none

bump golang.org/x to fix various CVEs
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

bump to controller-runtime 0.20, kube 1.32
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Change KubeVirt VM CPU assignment to not overwrite cpu alloc ratio (#1906)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

fix kubevirt cpu check + update sdk version in go.mod
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

[release/v1.61] Cherry pick 1906 to release/v1.61 (#1916)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

Bump Go version to 1.23.7
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Bump Go version to 1.23.7 (#1918)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update to controller-runtime 0.20, bump golang.org/x libraries (#1917)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

add support for nvme devices for tinkerbell provider
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

Update the new image tag for KKP owned images
  examples/kubevirt-local-mounter.yaml
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

Update the new image tag for KKP owned images (#1922)
  examples/kubevirt-local-mounter.yaml
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

add clusterNamespace annotations Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

initialize annotation
  pkg/admission/machines.go
Due: none

Add ClusterNamespace Annotations to Worker Nodes (#1924)
  pkg/admission/machines.go
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

only consider main version tags during build
  Makefile
Due: none

fix log line
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Handle SDK version tags (#1925)
  Makefile
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Add ClusterNamespace Annotations to Worker Nodes (#1924) (#1926)
  pkg/admission/machines.go
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

fix AMI query for Ubuntu images
  pkg/cloudprovider/provider/aws/provider.go
Due: none

fix AMI query for Ubuntu images (#1927)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

fix AMI query for Ubuntu images (#1928)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

fix AMI query for Ubuntu images (#1929)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams (#1931)
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1930)
  OWNERS_ALIASES
Due: none

Support RockyLinux 9 in AWS and Equinixmetal
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
Due: pull-machine-controller-e2e-equinix-metal

Support Rocky Linux 9 on DigitalOcean
  pkg/cloudprovider/provider/digitalocean/provider.go
Due: none

Bump Go version to 1.24.4
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

fix various typos
  docs/cloud-provider.md
  docs/vsphere.md
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/controller/machine/controller.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machineset/controller.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-kubevirt

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
