Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)

add logging bootstrapping
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  pkg/admission/admission.go
  pkg/log/zap.go
Due: none

use a flatcar image in example opennebula machinedeployment
  examples/opennebula-machinedeployment.yaml
Due: none

add cloud provider for opennebula
  .gitignore
  docs/cloud-provider.md
  examples/opennebula-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/opennebula/types/types.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-opennebula.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

replace unsupported github.com/coreos/container-linux-config-transpile with its supported equivalent
  go.mod
  go.sum
  pkg/userdata/convert/ignition-converter.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

update fixtures
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

opennebula: update function signatures to include logger
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
Due: none

Use eu-central-1b for AWS arm tests
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
Due: pull-machine-controller-e2e-nutanix

Use eu-central-1b for AWS arm tests (#1621)
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
Due: pull-machine-controller-e2e-nutanix

First draft of community provider support
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  docs/cloud-provider.md
  docs/community-providers.md
  pkg/cloudprovider/provider.go
Due: none

opennebula: update after review
  pkg/cloudprovider/provider/opennebula/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-opennebula.yaml
Due: pull-machine-controller-e2e-nutanix

update container linux config transpiler (#1611)
  go.mod
  go.sum
  pkg/userdata/convert/ignition-converter.go
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Update build image
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1624)
  OWNERS_ALIASES
Due: none

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams (#1625)
  OWNERS_ALIASES
Due: none

opennebula: add SET_HOSTNAME to context
  pkg/cloudprovider/provider/opennebula/provider.go
Due: none

opennebula: fix lints
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/opennebula/types/types.go
Due: none

Skip unsupported in-tree tests for AWS and OpenStack
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Refactored code
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Adjust spot pricing and tests
  .prow/provider-openstack.yaml
  .prow/provider-vmware-cloud-director.yaml
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Add optional router id to openstack cloud config
  pkg/cloudprovider/provider/openstack/types/cloudconfig.go
Due: none

fix missing formatting in log line
  pkg/node/eviction/eviction.go
Due: none

fix missing formatting in log line (#1628)
  pkg/node/eviction/eviction.go
Due: none

relax CSR validation to support Kubernetes 1.27
  pkg/controller/nodecsrapprover/controller.go
Due: none

adjust unit tests
  pkg/controller/nodecsrapprover/controller_test.go
Due: none

relax CSR validation to support Kubernetes 1.27 (#1629)
  pkg/controller/nodecsrapprover/controller.go
  pkg/controller/nodecsrapprover/controller_test.go
Due: none

Add support for OpenNebula as a cloud provider (#1450)
  .gitignore
  docs/cloud-provider.md
  examples/opennebula-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/opennebula/types/types.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-opennebula.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams (#1630)
  OWNERS_ALIASES
Due: none

add documentation for community providers
  README.md
  docs/cloud-provider.md
  pkg/cloudprovider/provider.go
Due: none

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams (#1632)
  OWNERS_ALIASES
Due: none

k8s-8125 OSK API client timeouts
  pkg/cloudprovider/provider/openstack/helper.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/types/types.go
  pkg/providerconfig/types.go
Due: none
