Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)

Fix e2e tests for VCD
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-e2e-nutanix

update vsphere datastore
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Adjust kubevirt image repo
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Use 'main' as KKP branch instead of 'master' (#1464)
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

more adjustments to vsphere and kubevirt e2e
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
Due: pull-machine-controller-e2e-nutanix

fix cluster-exposer branch
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

adjust VPC to the new one after we recently switched AWS accounts
  docs/cloud-provider.md
  examples/aws-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix

fix misleading documentation
  docs/cloud-provider.md
Due: none

fix vsphere datastore
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

store MC/OSM logs as artifacts during E2E tests
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

do not cache cancelled/timed out validations
  pkg/cloudprovider/validationwrapper.go
Due: none

adjust VPC to the new one after we recently switched AWS accounts (#1591)
  docs/cloud-provider.md
  examples/aws-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix

do not cache cancelled/timed out validations (#1593)
  pkg/cloudprovider/validationwrapper.go
Due: none

store MC/OSM logs as artifacts during E2E tests (#1594)
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Update README.md
  README.md
Due: none

initialize iscsi if cloudprovider is Nutanix
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

reduce default log level to prevent credentials from leaking
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  pkg/admission/admission.go
Due: none

reduce default log level to prevent credentials from leaking (#1597)
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  pkg/admission/admission.go
Due: none

debug webhooks
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

use tagged OSM release
  examples/operating-system-manager.yaml
Due: none

integrate #1593 and #1597
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  pkg/cloudprovider/validationwrapper.go
Due: none

Anexia Provider: fix failed vm deletion deadlock
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Fix E2E tests for VMware Cloud Director
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-e2e-nutanix

Compute and pull latest image for OSM in CI
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Anexia Provider: fix failed vm deletion deadlock (#1600)
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

validate the AWS VPC has DNS hostnames enabled
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

lint
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Postpone machine cleanup when instance is still being created
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Fix E2E tests for AWS
  docs/cloud-provider.md
  examples/aws-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix

try different RHEL AMI
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Fix E2E tests for VMware Cloud Director (#1601)
  hack/ci/setup-machine-controller-in-kind.sh
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Validate the AWS VPC has DNS hostnames enabled (#1590)
  pkg/cloudprovider/provider/aws/provider.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

remove custom AMI from rhel os
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix
