Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

Support for Hetzner arm64 architecture instances (#1816)
  go.mod
  go.sum
  pkg/cloudprovider/provider/hetzner/provider.go
Due: pull-machine-controller-license-validation

Bump Go version to 1.22.5
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Bump Go version to 1.22.5 (#1822)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update to latest k8s patches for e2e tests
  .prow/provider-vmware-cloud-director.yaml
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
Due: pull-machine-controller-e2e-nutanix

Update dependencies
  .golangci.yml
  .wwhrd.yml
  go.mod
  go.sum
  pkg/cloudprovider/provider/scaleway/provider.go
Due: pull-machine-controller-license-validation

Update to latest k8s patches for e2e tests (#1824)
  .prow/provider-vmware-cloud-director.yaml
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
Due: pull-machine-controller-e2e-nutanix

Update dependencies (#1825)
  .golangci.yml
  .wwhrd.yml
  go.mod
  go.sum
  pkg/cloudprovider/provider/scaleway/provider.go
Due: pull-machine-controller-license-validation

Remove kubernetes 1.27 support
  README.md
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Remove kubernetes 1.27 support (#1823)
  README.md
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Cleanup for golangci config
  .golangci.yml
Due: none

Cleanup for golangci config (#1828)
  .golangci.yml
Due: none

OpenStack: Support enabling config drive
  docs/cloud-provider.md
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/openstack/types/types.go
Due: none

OpenStack: Support enabling config drive (#1829)
  docs/cloud-provider.md
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/openstack/types/types.go
Due: none

update baremetal provider
  examples/baremetal-tinkerbell-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/common.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/interface.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
  pkg/cloudprovider/provider/baremetal/provider.go
Due: pull-machine-controller-license-validation

fix lint issues
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/provider.go
Due: none

add bare metal machine states
  pkg/cloudprovider/provider/baremetal/types/types.go
Due: none

refactor tinkerbell bare metal plugin
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/metadata/client.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

add netmask to cidr utility
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/utils.go
Due: none

refactor tinkerbell clients
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
Due: none

refactor the bare metal provider
  pkg/cloudprovider/provider/baremetal/provider.go
Due: none

remove hegelurl
  examples/baremetal-tinkerbell-machinedeployment.yaml
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

addressing PR review
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

linting
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/metadata/client.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

remove the metadata client as it is not needed
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/metadata/client.go
Due: none

linting
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

Refactor Tinkerbell provider (#1830)
  examples/baremetal-tinkerbell-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/interface.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/utils.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/metadata/client.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/baremetal/types/types.go
Due: pull-machine-controller-license-validation

fix hardware metadata validation
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

fix hardware metadata validation (#1832)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

refactor tb machine cleanup
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

refactor tb machine cleanup (#1831)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
Due: none

AWS: Increase IMDS hop limit for EC2 instances
  pkg/cloudprovider/provider/aws/provider.go
Due: none

AWS: Increase IMDS hop limit for EC2 instances (#1833)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

AWS: Increase IMDS hop limit for EC2 instances (#1834)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

AWS: Increase IMDS hop limit for EC2 instances (#1835)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

AWS: Increase IMDS hop limit for EC2 instances (#1836)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

experiment with CCMs
  hack/ci/ccm/aws/Makefile
  hack/ci/ccm/aws/driver.yaml
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-ccm.sh
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

testing
  examples/aws-machinedeployment.yaml
  hack/ci/ccm/aws/Makefile
  hack/ci/ccm/aws/deployment.yaml
  hack/ci/ccm/aws/driver.yaml
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-ccm.sh
  test/e2e/provisioning/all_e2e_test.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
