Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)

Anexia Provider: allow configuration of multiple disks (#1665)
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: pull-machine-controller-license-validation

Anexia Provider: allow configuration of multiple disks
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: pull-machine-controller-license-validation

K8s-8413 ensure kubelet configSource is unset on machine creations
  pkg/admission/machines.go
Due: none

Anexia Provider: allow configuration of multiple disks (#1668)
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: pull-machine-controller-license-validation

kubevirt: support for OCI VM image source
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

kubevirt: support for OCI VM image source tests
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
Due: none

Anexia Provider: allow configuration of multiple disks (#1669)
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: pull-machine-controller-license-validation

Support for configuring multiple NICs for vSphere
  docs/vsphere.md
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/network.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

kubevirt: allow configuring registry pull policy
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

Support for configuring multiple NICs for vSphere (#1673)
  docs/vsphere.md
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/network.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

use `kubermatic-e2e-flatcar` for e2e tests (#1664)
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Refactored code
  pkg/userdata/helper/testdata/download_binaries_v1.26.4.golden
  pkg/userdata/helper/testdata/download_binaries_v1.27.1.golden
  pkg/userdata/ubuntu/testdata/version-1.26.4.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.1.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

KubeVirt: support for OCI VM image source (#1672)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

VSphere: Fine tune multiple NIC support and add E2E tests
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/network.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-multiple-nic.yaml
Due: pull-machine-controller-e2e-nutanix

Support for configuring multiple NICs for vSphere (#1677)
  docs/vsphere.md
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/network.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

Fix CI job for license validation
  .prow/verify.yaml
Due: none

Fix CI job for license validation (#1679)
  .prow/verify.yaml
Due: none

VSphere: Fine tune multiple NIC support and add E2E tests (#1678)
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/network.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-multiple-nic.yaml
Due: pull-machine-controller-e2e-nutanix

VSphere: Fine tune multiple NIC support and add E2E tests (#1680)
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/vsphere/network.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-multiple-nic.yaml
Due: pull-machine-controller-e2e-nutanix

Anexia Provider: allow configuration of multiple disks (#1667)
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: pull-machine-controller-license-validation

K8s-8455: Fix a race condition where kubelet gets stuck in a restart loop.
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Don't leave the disable-download-script.service in a failed state.
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Propagate datastore cluster for vSphere to cloud-config
  pkg/cloudprovider/provider/vsphere/provider.go
Due: none

Propagate datastore cluster for vSphere to cloud-config (#1682)
  pkg/cloudprovider/provider/vsphere/provider.go
Due: none

Replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml`
  go.mod
  go.sum
  pkg/apis/cluster/v1alpha1/conversions/conversions_test.go
  pkg/apis/cluster/v1alpha1/conversions/providerconfig_to_providerspec_test.go
Due: pull-machine-controller-license-validation

Replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml` (#1683)
  go.mod
  go.sum
  pkg/apis/cluster/v1alpha1/conversions/conversions_test.go
  pkg/apis/cluster/v1alpha1/conversions/providerconfig_to_providerspec_test.go
Due: pull-machine-controller-license-validation

VCD: Fix compute and sizing policies
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

VCD: Fix compute and sizing policies (#1685)
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

Fix E2E tests for VMware Cloud Director
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-e2e-nutanix

Compute and pull latest image for OSM in CI
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Pin OSM to v1.1.3 for E2E tests
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt
