Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

disable kubevirt e2e tests
  .prow/provider-kubevirt.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

disable kubevirt e2e tests (#1523)
  .prow/provider-kubevirt.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

support prow-based provider disabling
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  hack/ci/run-e2e-tests.sh
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

undo #1523
  .prow/provider-kubevirt.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

add missing pr_has_label func
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

support prow-based provider disabling (#1524)
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  hack/ci/run-e2e-tests.sh
  hack/lib.sh
  test/e2e/provisioning/all_e2e_test.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Switch region for AWS spot instances due to InsufficientInstanceCapacity
  .prow/provider-openstack.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24.9-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24.9-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24.9-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24.9-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24.9-vsphere.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.25-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.26-aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
Due: pull-machine-controller-e2e-nutanix

Drop support for SLES
  .prow/provider-aws.yaml
  Makefile
  cmd/userdata/sles/main.go
  docs/operating-system.md
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/manager/manager.go
  pkg/userdata/sles/provider.go
  pkg/userdata/sles/provider_test.go
  pkg/userdata/sles/sles.go
  pkg/userdata/sles/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/sles/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/sles/testdata/multiple-dns-servers.yaml
  pkg/userdata/sles/testdata/multiple-ssh-keys.yaml
  pkg/userdata/sles/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/sles/testdata/openstack.yaml
  pkg/userdata/sles/testdata/version-1.24.9.yaml
  pkg/userdata/sles/testdata/version-1.25.5.yaml
  pkg/userdata/sles/testdata/version-1.26.0.yaml
  pkg/userdata/sles/testdata/vsphere-mirrors.yaml
  pkg/userdata/sles/testdata/vsphere-proxy.yaml
  pkg/userdata/sles/testdata/vsphere.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix

exact string match fails, use conventional errors.Is instead
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

exact string match fails, use conventional errors.Is instead (#1526)
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

KubeVirt fix ci (DC)
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

KubeVirt fix ci (DC) (#1527)
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

KubeVirt export few names as public
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: none

refactor vsphere tagging mechanism
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

Drop support for SLES (#1525)
  .prow/provider-aws.yaml
  Makefile
  cmd/userdata/sles/main.go
  docs/operating-system.md
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/manager/manager.go
  pkg/userdata/sles/provider.go
  pkg/userdata/sles/provider_test.go
  pkg/userdata/sles/sles.go
  pkg/userdata/sles/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/sles/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/sles/testdata/multiple-dns-servers.yaml
  pkg/userdata/sles/testdata/multiple-ssh-keys.yaml
  pkg/userdata/sles/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/sles/testdata/openstack.yaml
  pkg/userdata/sles/testdata/version-1.24.9.yaml
  pkg/userdata/sles/testdata/version-1.25.5.yaml
  pkg/userdata/sles/testdata/version-1.26.0.yaml
  pkg/userdata/sles/testdata/vsphere-mirrors.yaml
  pkg/userdata/sles/testdata/vsphere-proxy.yaml
  pkg/userdata/sles/testdata/vsphere.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Remove env vars that control PVC clone.
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

enable rockylinux and flatcar tests in vsphere
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

fix tests
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Remove env vars that control PVC clone. (#1529)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

Enable rockylinux and flatcar tests in vsphere (#1533)
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Update OSM to the latest revision
  examples/operating-system-manager.yaml
Due: none

Anexia Provider: Return TerminalError on 401 and 403 engine responses
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Anexia Provider: Return TerminalError on 401 and 403 engine responses (#1537)
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Add support for named templates in anexia provider
  docs/anexia.md
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: pull-machine-controller-license-validation

Anexia: update docs for template configuration
  docs/anexia.md
Due: none

refactor vsphere tagging mechanism (#1532)
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

Update OSM to v1.1.2
  examples/operating-system-manager.yaml
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
