Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

extract VM size literals to test constants
  pkg/cloudprovider/provider/azure/provider_test.go
Due: none

extract `securityTypeStandard` as a package-level constant shared between provider and tests.
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
Due: none

add securityProfile support for TrustedLaunch VMs
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

gimps
  pkg/cloudprovider/provider/azure/provider_test.go
Due: none

fmt
  pkg/cloudprovider/provider/azure/provider.go
Due: none

[release/v1.64] Add securityProfile support for TrustedLaunch VMs (#2029)
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

[release/v1.65] Add securityProfile support for TrustedLaunch VMs (#2030)
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

Skip admission webhook validation for deleting MachineDeployments
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_test.go
Due: none

Skip admission webhook validation for deleting MachineDeployments (#2032)
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_test.go
Due: none

Mirror Tinkerbell images to quay.io/kubermatic-mirror (#2022)
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/mirror-images.sh
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template_test.go
  pkg/mirror/mirror-images.yaml
  pkg/mirror/mirror.go
  pkg/mirror/mirror_test.go
Due: pre-machine-controller-verify-shfmt

fix mirror-images 403 by dropping wrong-org push preset (#2023)
  .prow/postsubmits.yaml
  hack/ci/validate-mirror-images.sh
  hack/ci/verify-mirror-images-exist.sh
  hack/mirror-images.sh
  pkg/mirror/mirror-images.yaml
Due: pre-machine-controller-verify-shfmt

Fix unit test after x/crypto/ssh update
  go.sum
  pkg/admission/machines_test.go
Due: pull-machine-controller-license-validation

Skip admission webhook validation for deleting MachineDeployments (#2033)
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_test.go
Due: none

[release/v1.65] Update tinkerbell images (#2035)
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/ci/verify-mirror-images-exist.sh
  hack/mirror-images.sh
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template_test.go
  pkg/mirror/mirror-images.yaml
  pkg/mirror/mirror.go
  pkg/mirror/mirror_test.go
Due: pre-machine-controller-verify-shfmt

[release/v1.64] Update golang.org/x/crypto v0.52.0, golang.org/x/net v0.55.0 (#2026)
  go.mod
  go.sum
  pkg/admission/machines_test.go
Due: pull-machine-controller-license-validation

[release/v1.64] Update tinkerbell images (#2034)
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/ci/verify-mirror-images-exist.sh
  hack/mirror-images.sh
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template_test.go
  pkg/mirror/mirror-images.yaml
  pkg/mirror/mirror.go
  pkg/mirror/mirror_test.go
Due: pre-machine-controller-verify-shfmt

support kubev instance types defaulting
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

remove the instance type test to be added in the conformance tester. Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
Due: pull-machine-controller-e2e-kubevirt

fix linter Signed-off-by: moadqassem <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Default kubevirt vm instance types (#2031)
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

[release/v1.65] Default kubevirt vm instance types (#2036)
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams (#2037)
  OWNERS_ALIASES
Due: none

Check both v1beta1 and v1alpha1 instance types
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Check both v1beta1 and v1alpha1 instance types (#2038)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Check both v1beta1 and v1alpha1 instance types (#2039)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

openstack: Use OS_USERNAME as a source for username
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

openstack: Use OS_USERNAME as a source for username (#2041)
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

add support for k8s v1.36
  README.md
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

upddate go image for prow jobs
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

fix lint
  .golangci.yml
  Dockerfile
  Makefile
  pkg/cloudprovider/provider/digitalocean/provider.go
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
