Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

More cleanup
  pkg/admission/machines.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types_test.go
  pkg/userdata/flatcar/flatcar.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Delete provSpec check in baremetal provider
  pkg/cloudprovider/provider/baremetal/provider.go
Due: none

delete redundant check
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Fix namespace for machinesets
  pkg/controller/util/machine.go
Due: none

Fix namespace for machinesets (#1792)
  pkg/controller/util/machine.go
Due: none

Fix namespace for machinesets (#1795)
  pkg/controller/util/machine.go
Due: none

Fix namespace for machinesets (#1794)
  pkg/controller/util/machine.go
Due: none

Fix namespace for machinesets (#1793)
  pkg/controller/util/machine.go
Due: none

change tinkerbell plugin
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/common.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/interface.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
  pkg/cloudprovider/provider/baremetal/provider.go
Due: none

add example
  examples/baremetal-tinkerbell-machinedeployment.yaml
Due: none

K8s-9979: Fixes on test files
  pkg/userdata/amzn2/testdata/kubelet-v1.29.2-aws.yaml
  pkg/userdata/helper/testdata/download_binaries_v1.27.11.golden
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

K8s-9979: Update tests
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.24.9-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.29.2-aws.yaml
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Anexia: really handle 404 response for DELETE
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Anexia: use cloudproviderutil.HttpClient
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Anexia: allow to specify CPU performance type
  examples/anexia-machinedeployment.yaml
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

K8s-9979: Test Amazon fix
  pkg/userdata/amzn2/testdata/kubelet-v1.29.2-aws.yaml
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Anexia: various patches (request/response logging, CPU performance type, 404 fix on delete) (#1797)
  examples/anexia-machinedeployment.yaml
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

K8s-9979: Fix testing
  pkg/userdata/amzn2/testdata/kubelet-v1.29.2-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.29.2-aws.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.29.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

K8s-9979: Fix rest of testing
  pkg/userdata/centos/testdata/kubelet-v1.29.2-aws.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.29.2.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.28.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.29.2.json
  pkg/userdata/rockylinux/testdata/kubelet-v1.29.2-aws.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.11.yaml
  pkg/userdata/ubuntu/testdata/version-1.28.7.yaml
  pkg/userdata/ubuntu/testdata/version-1.29.2.yaml
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

[release/v1.59] Anexia: various patches (request/response logging, CPU performance type, 404 fix on delete) (#1798)
  examples/anexia-machinedeployment.yaml
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

update to controller-runtime 0.18.2
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/controller/machine/controller.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machineset/controller.go
  pkg/controller/nodecsrapprover/controller.go
Due: pull-machine-controller-license-validation

use Ubuntu 24.04 in vSphere e2e tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

update other providers to Ubuntu 24.04 for testing
  docs/operating-system.md
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Update go.mod and go.sum to remove cloud providers
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Don't reconcile taints on existing nodes
  pkg/controller/machine/controller.go
Due: none

Add machine annotation to specify MaxParallelImagePulls
  pkg/apis/cluster/common/consts.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

add template client
  examples/baremetal-tinkerbell-machinedeployment.yaml
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/controller/util/machine.go
Due: none

update to controller-runtime 0.18.2 (#1786)
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/controller/machine/controller.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machineset/controller.go
  pkg/controller/nodecsrapprover/controller.go
Due: pull-machine-controller-license-validation

Fix AMI filter for rocky linux
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled
