Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Update k8s versions for e2e tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Always use latest OSM image in e2e tests (#1561)
  .prow/provider-azure.yaml
  examples/operating-system-manager.yaml
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

[TEST] Run E2E tests for all providers
  README.md
Due: none

Add support for named templates in anexia provider
  docs/anexia.md
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: pull-machine-controller-license-validation

Anexia: update docs for template configuration
  docs/anexia.md
Due: none

Resolve templateID from template in `resolveConfig()`
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

[release/v1.54] Anexia Provider: add support for named VM templates (#1563)
  docs/anexia.md
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: pull-machine-controller-license-validation

Add basic support for vultr cloud provider
  .wwhrd.yml
  docs/cloud-provider.md
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/cloudprovider/provider/vultr/types/types.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vultr.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Update trigger condition for cloud provider specific E2E jobs
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-openstack.yaml
  .prow/provider-vsphere.yaml
Due: none

Use AWS spot instances for tests that always run
  .prow/provider-aws.yaml
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: none

Update trigger condition for cloud provider specific E2E jobs (#1564)
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-openstack.yaml
  .prow/provider-vsphere.yaml
Due: none

Use AWS spot instances for tests that always run (#1565)
  .prow/provider-aws.yaml
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: none

Add providerID support for cloud providers
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: pull-machine-controller-e2e-nutanix

Add providerID support for cloud providers (#1568)
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: pull-machine-controller-e2e-nutanix

Add basic support for vultr cloud provider (#1531)
  .wwhrd.yml
  docs/cloud-provider.md
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/cloudprovider/provider/vultr/types/types.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vultr.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Skip validation for MachineDeployments and Machines that are marked for deletion
  pkg/admission/machinedeployments.go
  pkg/admission/machines.go
Due: none

Check for existence of referenced OpenStack resources concurrently
  go.mod
  go.sum
  pkg/cloudprovider/provider/openstack/provider.go
Due: pull-machine-controller-license-validation

Increase default timeout for OpenStack provider
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

Increase default timeout for OpenStack provider (#1570)
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

Add metrics for provisioning nodes
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/metrics.go
Due: none

Postpone machine cleanup when instance is still being created
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Add metrics for provisioning nodes (#1572)
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/metrics.go
Due: none

Postpone machine cleanup when instance is still being created (#1571)
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Use time.Since instead of time.Until
  pkg/controller/machine/machine_controller.go
Due: none

Backport metrics node provisioning to v1.54 (#1575)
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/metrics.go
Due: none

Anexia Provider: configure rpc-statd service as kubelet dependency
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Update flatcar cloudinit fixtures
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

Update flatcar cloudinit fixtures
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.54] Anexia Provider: configure rpc-statd service as kubelet dependency (#1578)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
Due: pull-machine-controller-e2e-nutanix

support private ip for hetzner cloud
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/types/types.go
Due: none

document hetzner ips assignment
  examples/hetzner-machinedeployment.yaml
Due: none

fix linting
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

Support Private IP for Hetzner Cloud (#1579)
  examples/hetzner-machinedeployment.yaml
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/types/types.go
Due: none

Postpone machine cleanup when instance is still being created (#1580)
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

Upgrade to Go 1.20.2
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/ci/setup-cni-in-kind.sh
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  test/e2e/provisioning/verify.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Remove package updates
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
