Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

Remove random mac address as default option and add kubevirt bridge annotation
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

Remove random mac address as default option and add kubevirt bridge annotation (#1856)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

support ubuntu nobel
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
Due: pull-machine-controller-e2e-equinix-metal

Upgrade to Go 1.23.1
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

Upgrade to Go 1.23.1 (#1859)
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

support topology aware zones and regions
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

adding tests
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/location-zone-and-region-aware.yaml
Due: pull-machine-controller-e2e-kubevirt

remove dead code
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Support topology aware zones and regions in KubeVirt (#1860)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/location-zone-and-region-aware.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

refactor kv labels
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

skip adding topology labels on multi zones/regions
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

fix tests
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: pull-machine-controller-e2e-kubevirt

remove location test as it is not part of the VMCreation function
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/location-zone-and-region-aware.yaml
Due: pull-machine-controller-e2e-kubevirt

refactor newVirtualMachine func
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: pull-machine-controller-e2e-kubevirt

Support Zone-Aware Topology in KubeVirt (#1861)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/location-zone-and-region-aware.yaml
Due: pull-machine-controller-e2e-kubevirt

add provider network support
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

add provider network vpc support
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

support subnetGatewayIP defaulting
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

refactor kubevirt tests
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

address PR reviews
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

adding tests for kubevirt provider network
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
Due: pull-machine-controller-e2e-kubevirt

Support KubeVirt Provider Network (#1862)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

support kubeovn provider network
  pkg/cloudprovider/provider/kubevirt/providernetworks/kubeovn/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
Due: pull-machine-controller-e2e-kubevirt

kubeovn go mod imports
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

register kubeovn resource subnet and vpc
  cmd/machine-controller/main.go
Due: none

support kubeovn subnet fetch
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

fix template bug and add reboot action
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

refactor provider networks
  cmd/machine-controller/main.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/kubeovn/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
Due: pull-machine-controller-e2e-kubevirt

fix provider networks boilerplate
  pkg/cloudprovider/provider/kubevirt/providernetworks/kubeovn/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
Due: pull-machine-controller-e2e-kubevirt

fix template bug and add reboot action (#1864)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

refactor kubevirt provider
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
Due: pull-machine-controller-e2e-kubevirt

Support KubeOVN VPC and Subnet (#1863)
  cmd/machine-controller/main.go
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/kubeovn/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

refactor kv provider networks
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/kubeovn/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-e2e-kubevirt

fix kubevirt tests
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Due: pull-machine-controller-e2e-kubevirt

refactor kubevirt tests
  cmd/machine-controller/main.go
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

adjust kubevirt testing files
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

Revert Changes to KubeVirt Provider Networks (#1865)
  cmd/machine-controller/main.go
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/kubeovn/provider.go
  pkg/cloudprovider/provider/kubevirt/providernetworks/provider_networks.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

fix cloud-init in baremetal
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

lint :)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

Fix: Configure Cloud-Init Script to execute automatically (#1866)
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none
