Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

[release/v1.65] Synchronize OWNERS_ALIASES file with Github teams (#2011)
  OWNERS_ALIASES
Due: none

add securityProfile support for TrustedLaunch VMs
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

extract `securityTypeStandard` as a package-level constant shared between provider and tests.
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
Due: none

gimps
  pkg/cloudprovider/provider/azure/provider_test.go
Due: none

fmt
  pkg/cloudprovider/provider/azure/provider.go
Due: none

extract VM size literals to test constants
  pkg/cloudprovider/provider/azure/provider_test.go
Due: none

bump default Flatcar Azure image to 4593.2.1 for containerd v2 support
  pkg/cloudprovider/provider/azure/provider.go
Due: none

use 4459.2.3
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Mirror Tinkerbell images to quay.io/kubermatic-mirror
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/mirror-images.sh
  hack/mirror-images.yaml
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: pre-machine-controller-verify-shfmt

Fix mirror-images validator and enforce template.go sync
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
Due: pre-machine-controller-verify-shfmt

embed mirror-images.yaml as single source of truth for Tinkerbell image refs
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/mirror-images.sh
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/images.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/images_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/mirror-images.yaml
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: pre-machine-controller-verify-shfmt

extract mirror image loader into shared `pkg/mirror` package
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/mirror-images.sh
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/images.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/images_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template_test.go
  pkg/mirror/mirror-images.yaml
  pkg/mirror/mirror.go
  pkg/mirror/mirror_test.go
Due: pre-machine-controller-verify-shfmt

update templating tests
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template_test.go
Due: none

Mirror Tinkerbell images to quay.io/kubermatic-mirror (#2022)
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/ci/validate-mirror-images.sh
  hack/mirror-images.sh
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template_test.go
  pkg/mirror/mirror-images.yaml
  pkg/mirror/mirror.go
  pkg/mirror/mirror_test.go
Due: pre-machine-controller-verify-shfmt

fix mirror-images 403 by dropping wrong-org push preset
  .prow/postsubmits.yaml
  .prow/verify.yaml
  hack/mirror-images.sh
Due: pre-machine-controller-verify-shfmt

mirror images with human-readable tags instead of digest-only destinations
  hack/ci/validate-mirror-images.sh
  hack/ci/verify-mirror-images-exist.sh
  hack/mirror-images.sh
  pkg/mirror/mirror-images.yaml
Due: pre-machine-controller-verify-shfmt

remove temporary job
  .prow/verify.yaml
Due: none

fix mirror-images 403 by dropping wrong-org push preset (#2023)
  .prow/postsubmits.yaml
  hack/ci/validate-mirror-images.sh
  hack/ci/verify-mirror-images-exist.sh
  hack/mirror-images.sh
  pkg/mirror/mirror-images.yaml
Due: pre-machine-controller-verify-shfmt

Update golang.org/x/crypto v0.52.0, golang.org/x/net v0.55.0
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Update golang.org/x/crypto v0.52.0, golang.org/x/net v0.55.0 (#2024)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

exclude rhel from azure e2e tests due to no active subscription
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Update golang.org/x/crypto v0.52.0, golang.org/x/net v0.55.0 (#2024) (#2025)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

bump Azure e2e custom image reference to Ubuntu 24.04 LTS and use `Standard_F2s_v2` VM size
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
Due: pull-machine-controller-e2e-nutanix

bump default Flatcar Azure image to 4459.2.3 for containerd v2 support (#2021)
  pkg/cloudprovider/provider/azure/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
Due: pull-machine-controller-e2e-nutanix

Add securityProfile support for TrustedLaunch VMs (#2020)
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/provider_test.go
  sdk/cloudprovider/azure/types.go
Due: none

[release/v1.64] bump default Flatcar Azure image to 4459.2.3 for containerd v2 support (#2028)
  pkg/cloudprovider/provider/azure/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.65] bump default Flatcar Azure image to 4459.2.3 for containerd v2 support (#2027)
  pkg/cloudprovider/provider/azure/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
Due: pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
