Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

Fix AMI filter for rocky linux (#1801)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Update AMI filter for rocky linux
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Update AMI filter for rocky linux (#1803)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Cleanup baremetal cloudprovider
  examples/baremetal-tinkerbell-machinedeployment.yaml
  examples/operating-system-manager.yaml
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/common.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/interface.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/metadata/client.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/template.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/baremetal/types/types.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/testdata/machinedeployment-baremetal-tinkerbell.yaml
Due: pull-machine-controller-e2e-nutanix

Fix: go mod tidy
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

[release/v1.57] Update AMI filter for rocky linux (#1803)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.58] Update AMI filter for rocky linux (#1803)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.59] Update AMI filter for rocky linux (#1803)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

pin cluster-exposer to KKP 2.24 (Go 1.21)
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

pin cluster-exposer to KKP 2.25 (Go 1.22)
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

prevent forgetting to pin the cluster-exposer
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.59] Update AMI filter for rocky linux (#1803) (#1809)
  hack/ci/setup-kind-cluster.sh
  pkg/cloudprovider/provider/aws/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Improve the method to compute OSM tag
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

bump OSM to 1.3.6
  examples/operating-system-manager.yaml
Due: none

bump OSM to 1.4.3
  examples/operating-system-manager.yaml
Due: none

Bump GO version to 1.22.4
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/ci/calico.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.57] Update AMI filter for rocky linux (#1803) / Bump OSM to 1.3.6 (#1807)
  examples/operating-system-manager.yaml
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.58] Update AMI filter for rocky linux (#1803) / Bump OSM to 1.4.3 (#1808)
  examples/operating-system-manager.yaml
  hack/ci/setup-kind-cluster.sh
  pkg/cloudprovider/provider/aws/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Delete provSpec redundant check in MC providers (#1791)
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Remove provision readme
  cmd/provision/README.md
Due: none

Bump GO version to 1.22.4 (#1806)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/ci/calico.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Container runtime cleanup
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  pkg/containerruntime/config.go
  pkg/containerruntime/config_test.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/flags.go
  pkg/controller/machine/controller.go
  pkg/node/flags.go
Due: none

Drop unused ini pkg
  go.mod
  go.sum
  pkg/ini/duration.go
  pkg/ini/escape.go
  pkg/ini/escape_test.go
Due: pull-machine-controller-license-validation

Refactored code
  cmd/machine-controller/main.go
Due: none

Remove container runtime related code (#1812)
  cmd/machine-controller/main.go
  cmd/provision/README.md
  cmd/webhook/main.go
  go.mod
  go.sum
  pkg/containerruntime/config.go
  pkg/containerruntime/config_test.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/flags.go
  pkg/controller/machine/controller.go
  pkg/ini/duration.go
  pkg/ini/escape.go
  pkg/ini/escape_test.go
  pkg/node/flags.go
Due: pull-machine-controller-license-validation

Use cluster-exposer from build image
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/ci/setup-kind-cluster.sh
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Use cluster-exposer from build image (#1813)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/ci/setup-kind-cluster.sh
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Deprecate cluster-dns flag
  cmd/machine-controller/main.go
Due: none

Deprecate cluster-dns flag (#1814)
  cmd/machine-controller/main.go
Due: none

update
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

add go.sum and go.mod
  examples/baremetal-tinkerbell-machinedeployment.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

update baremetal provider
  examples/baremetal-tinkerbell-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/common.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/interface.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/workflow.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/types/types.go
  pkg/cloudprovider/provider/baremetal/provider.go
Due: pull-machine-controller-license-validation

fix lint issues
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/hardware.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/provider.go
Due: none

Support for Hetzner arm64 architecture instances
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

Hetzner: Skip operating system validation if custom image is provided
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

Hetzner: Skip operating system validation if custom image is provided (#1818)
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

fix conflict with #1818
  go.mod
  go.sum
  pkg/cloudprovider/provider/hetzner/provider.go
Due: pull-machine-controller-license-validation

remove leftovers from merge
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none
