Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

filter out link-local addresses
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/util/net.go
Due: none

Kubevirt VM affinity
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

gimpsed the import
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Disable firewalld on supported OSes
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
Due: pull-machine-controller-e2e-nutanix

Update fixtures
  pkg/userdata/amzn2/testdata/containerd-kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

add dual-stack support for GCP
  go.mod
  go.sum
  hack/run-machine-controller.sh
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Add tag support for vSphere provider
  pkg/cloudprovider/provider/vsphere/client.go
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

delete the tag when can't be attached to VM
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
Due: none

Disable firewalld on supported OSes (#1226)
  pkg/userdata/amzn2/provider.go
  pkg/userdata/amzn2/testdata/containerd-kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/centos/provider.go
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

Add tag support for vSphere provider (#1213)
  pkg/cloudprovider/provider/vsphere/client.go
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

remove debugging statements
  pkg/cloudprovider/provider/gce/service.go
Due: none

fix imports
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/gce/service.go
Due: none

fix lint
  pkg/cloudprovider/provider/gce/service.go
Due: none

error if ipv6 machine is requested in the unsupported zone
  pkg/cloudprovider/provider/gce/service.go
Due: none

.
  hack/run-machine-controller.sh
Due: pre-machine-controller-verify-shfmt

Kubevirt VM affinity (#1224)
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

pkg/userdata/flatcar/provider.go: removed unsupported 'command: stop' from userDataIgnitionTemplate
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

fix nits
  pkg/cloudprovider/provider/gce/service.go
Due: none

fix nits
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Remove 'alpha' status of Nutanix implementation
  docs/nutanix.md
Due: none

Remove 'alpha' status of Nutanix implementation (#1228)
  docs/nutanix.md
Due: none

Flatcar stop disabled units (#1219)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

move zone validation to webhook
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
Due: none

Revert "assign ipv6 address to aws (#1208)"
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/util/net.go
  pkg/node/poddeletion/pod_deletion.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-nutanix

Enable flatcar in Nutanix e2e tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

sync OWNERS_ALIASES with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.36] sync OWNERS_ALIASES with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.42] sync OWNERS_ALIASES with Github teams
  OWNERS_ALIASES
Due: none

Revert "assign ipv6 address to aws (#1208)" (#1229)
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/util/net.go
  pkg/node/poddeletion/pod_deletion.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-nutanix

revert network config
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/validationwrapper.go
  pkg/controller/machine/machine_controller.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

revert network config (#1234)
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/validationwrapper.go
  pkg/controller/machine/machine_controller.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Update pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
Due: none

Use map instead of slice to store allowed SKUs
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Remove label and adjust loop condition
  pkg/cloudprovider/provider/azure/create_delete_resources.go
Due: none

disable nutanix e2e tests when packages other than nutanix cloud provider have changed
  .prow.yaml
Due: none

disable nutanix e2e tests when packages other than nutanix cloud provider have changed (#1237)
  .prow.yaml
Due: none

provisioning secret naming fixed
  pkg/controller/machine/machine_controller.go
Due: none

update fixtures Signed-off-by: Moath Qasim <moad.qassem@gmail.com>
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
Due: pull-machine-controller-e2e-nutanix

rockylinux support in aws
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
