Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

Fix AWS and Hetzner E2E tests
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Fix AWS spot instance E2E tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Bump OSM to v1.4.1
  examples/operating-system-manager.yaml
Due: none

Bump OSM to v1.2.4
  examples/operating-system-manager.yaml
Due: none

Fix Hetzner E2E tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

[release/v1.57] Remove TORCX_BINDIR from containerd binary call (#1762)
  .prow/verify.yaml
  Makefile
  examples/operating-system-manager.yaml
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.9.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

[release/v1.58] Remove TORCX_BINDIR from containerd binary call (#1761)
  .prow/verify.yaml
  Makefile
  examples/operating-system-manager.yaml
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.26.6.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.28.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.0.json
  test/e2e/provisioning/helper.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Release branch release/v1.59 commit
  README.md
Due: none

do not use removed yamllint image anymore
  .prow/verify.yaml
Due: none

Release branch release/v1.59 commit (#1766)
  README.md
Due: none

[release/v1.56] Remove TORCX_BINDIR from containerd binary call (#1763)
  .prow/verify.yaml
  examples/operating-system-manager.yaml
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.9.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

K8s-9602 Kubelet image GC settings configurable
  pkg/apis/cluster/common/consts.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

Configure provider-id for the machines/nodes (#1723)
  .golangci.yml
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Configure provider-id for the machines/nodes (#1723) (#1768)
  .golangci.yml
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Update matrix for e2e tests
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Built in cloud providers are disabled in k8s 1.26
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Upgrade to Go 1.22.1
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Upgrade to Go 1.22.1 (#1770)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

K8s-9627: Update tests
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

K8s-9627: Update machine-controller from upstream tag 1.58.3
  examples/operating-system-manager.yaml
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.0.json
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled, pull-machine-controller-e2e-kubevirt

bump dependencies
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

make it less likely those jobs drift away from the build image's toolkit
  .prow/verify.yaml
Due: none

update to VCD API changes
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
Due: none

lint: unused parameters
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/clusterinfo/configmap.go
  pkg/controller/machine/controller.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machinedeployment/sync.go
  pkg/controller/machineset/controller.go
  pkg/controller/nodecsrapprover/controller.go
  pkg/rhsm/util.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/migrateuidscenario.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Wait() is deprecated in favor of WaitEx
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
Due: none

lint: tautologies, impossible conditions (slightly changes VCD validation)
  .golangci.yml
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vsphere/client.go
Due: none

update deprecated azure SDK usage
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

ignore deprecation in hetzner SDK
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

Bump dependencies (#1772)
  .golangci.yml
  .prow/verify.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vsphere/client.go
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  pkg/clusterinfo/configmap.go
  pkg/controller/machine/controller.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machinedeployment/sync.go
  pkg/controller/machineset/controller.go
  pkg/controller/nodecsrapprover/controller.go
  pkg/rhsm/util.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/migrateuidscenario.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

K8s-9372: Add modification for custom policy
  pkg/apis/cluster/v1alpha1/machineset_types.go
  pkg/controller/machineset/delete_policy.go
Due: none

K8s-9372: Modify default delete policy
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: none

K8s-9372: Change comments for Random policy
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: none

K8s-9372: Update comment for deletion policy
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: none

K8s-9372: Some modifications and change on node reference
  pkg/apis/cluster/v1alpha1/machineset_types.go
  pkg/controller/machineset/delete_policy.go
Due: none

K8s-9372: Simple fix on delete policy comment
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: none

Update pkg/controller/machineset/delete_policy.go
  pkg/controller/machineset/delete_policy.go
Due: none

Update pkg/apis/cluster/v1alpha1/machineset_types.go
  pkg/apis/cluster/v1alpha1/machineset_types.go
Due: none
