Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

Add per-Machine eviction timeout override via annotation (#2082)
  README.md
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/controller_test.go
  pkg/controller/util/machine_deployment_test.go
Due: none

Allow disabling the eviction timeout
  README.md
  cmd/machine-controller/main.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
Due: none

Allow disabling the eviction timeout (#2083)
  README.md
  cmd/machine-controller/main.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
Due: none

Add missing license boilerplate headers
  pkg/controller/machineset/controller_test.go
  pkg/controller/util/machine_deployment_test.go
Due: none

Cover the MachineDeployment leg of the eviction timeout override
  pkg/controller/util/machine_deployment_test.go
Due: none

Add per-Machine eviction timeout override via annotation
  README.md
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/controller_test.go
Due: none

[release/v1.65] Add per-Machine eviction timeout override via annotation (#2084)
  README.md
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/controller_test.go
  pkg/controller/util/machine_deployment_test.go
Due: none

[release/v1.66] Add per-Machine eviction timeout override via annotation (#2085)
  README.md
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/controller_test.go
  pkg/controller/util/machine_deployment_test.go
Due: none

Allow disabling the eviction timeout (#2086)
  README.md
  cmd/machine-controller/main.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
Due: none

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.65] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.66] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Enhance kubebuilder markers for Machine, MachineDeployment, and MachineSet types
  sdk/apis/cluster/v1alpha1/machine_types.go
  sdk/apis/cluster/v1alpha1/machinedeployment_types.go
  sdk/apis/cluster/v1alpha1/machineset_types.go
Due: none

fix(api): unblock controller-gen on nested ObjectMeta and MachineClassRef
  sdk/apis/cluster/v1alpha1/common_types.go
  sdk/apis/cluster/v1alpha1/machine_types.go
  sdk/apis/cluster/v1alpha1/machineset_types.go
  sdk/apis/cluster/v1alpha1/zz_generated.deepcopy.go
Due: none

Bump Go version to 1.27.1
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Keep the go directive at the lowest version that compiles
  go.mod
Due: pull-machine-controller-license-validation

Bump the go-1.27 build image pins to suffix 2
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update SA1019 exclusions for golangci-lint 2.14
  .golangci.yml
Due: none

Bump Go version to 1.27.1 (#2093)
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Bump x/crypto, x/net, x/oauth2, x/sys and x/text
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-machine-controller-license-validation

[release/v1.65] Bump grpc, x/net, x/oauth2, x/sys and x/text
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-machine-controller-license-validation

[release/v1.66] Bump grpc, x/net, x/oauth2, x/sys and x/text
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-machine-controller-license-validation

[release/v1.65] Bump grpc, x/net, x/oauth2, x/sys and x/text (#2095)
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-machine-controller-license-validation

Bump x/crypto, x/net, x/oauth2, x/sys and x/text (#2094)
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-machine-controller-license-validation

[release/v1.66] Bump grpc, x/net, x/oauth2, x/sys and x/text (#2096)
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-machine-controller-license-validation

fix: vSphere Datastore Cluster Support Fails with "spec.host" Err...
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/helper_test.go
Due: none

Add SBOM generation and attachment for container images
  .gitignore
  Makefile
  hack/attach-image-sbom.sh
Due: pre-machine-controller-verify-shfmt

Add SBOM generation and attachment for container images (#2098)
  .gitignore
  Makefile
  hack/attach-image-sbom.sh
Due: pre-machine-controller-verify-shfmt

fix: address review feedback
  pkg/cloudprovider/provider/vsphere/helper.go
Due: none

vSphere datastore and resource pool handling improvements
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/helper_test.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
Due: none

use configured cluster's root resource pool
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/helper_test.go
Due: none

add support for kubernetes 1.37
  README.md
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

use latest patch releases in e2e matrix
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

[release/v1.66] Add support for Kubernetes 1.37 (#2081)
  README.md
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix
