Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

.
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

add comments about --node-ip flag settings in dualstack
  hack/run-machine-controller.sh
  pkg/userdata/helper/kubelet.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

set --node-ip,--cloud-provider flags for openstack, digitalocean
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
Due: pull-machine-controller-e2e-nutanix

move docs to func level
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

set kubelet --node-ip flag
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/helper/helper.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/helper/kubelet_test.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

refactor
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

rename variables for clarity
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

fix testdata files
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
Due: pull-machine-controller-e2e-nutanix

Azure: Support for accelerated networking
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Upgrade to alpine 3.16 for machine-controller's image (#1342)
  Dockerfile
Due: none

Adjust resource limits and requests for CI jobs
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

Remove pinned AMI for AWS
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
Due: pull-machine-controller-e2e-nutanix

Update CI build image to go-1.18-node-16-kind-0.14-9
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
Due: none

Azure: Support for accelerated networking (#1344)
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Try upto 5 previous commits for gocache
  .prow/e2e-features.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
Due: pre-machine-controller-verify-shfmt

Adjust requests and limits for CI jobs
  .prow/e2e-features.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Makefile
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Improvements for CI (#1346)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Makefile
  hack/ci/download-gocache.sh
  hack/ci/setup-kind-cluster.sh
  hack/ci/upload-gocache.sh
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Remove support for Kubernetes 1.21 (#1343)
  README.md
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/centos/provider_test.go
  pkg/userdata/centos/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.10.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.21.10.json
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.21.10.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.10-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.10.golden
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/sles/provider_test.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/nutanix.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

vcd: ipAllocationMode should be an optional field
  README.md
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/centos/provider_test.go
  pkg/userdata/centos/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.10.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.21.10.json
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/testdata/download_binaries_v1.21.10.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.10-external.golden
  pkg/userdata/helper/testdata/kublet_systemd_unit_version-v1.21.10.golden
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/sles/provider_test.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/nutanix.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

vcd: ipAllocationMode should be an optional field
  pkg/cloudprovider/provider/vmwareclouddirector/types/types.go
Due: none

vcd: ipAllocationMode should be an optional field (#1348)
  pkg/cloudprovider/provider/vmwareclouddirector/types/types.go
Due: none

rh_subscriprion bootstrap script
  pkg/cloudprovider/provider/azure/provider.go
  pkg/controller/machine/bootstrap.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Fix tests
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.45] rh_subscriprion bootstrap script (#1350)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/controller/machine/bootstrap.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

remove unnecessary check for --cloud-provider
  pkg/userdata/helper/kubelet.go
  pkg/userdata/ubuntu/provider_test.go
Due: pull-machine-controller-e2e-nutanix

decide setting -node-ip based on ipFamily, cloudprovider, in-tree-ness
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

move withNodeIPFlag near CloudProviderFlags
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

fix comments; simplify code
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

Refactor handling of kubeconfig for kubevirt
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

fix test KubeVirt MachineDeployment object
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.42] Refactor handling of kubeconfig for kubevirt (#1357)
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.45] Refactor handling of kubeconfig for kubevirt (#1358)
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix
