Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Resolve templateID from template in `resolveConfig()`
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Remove sig-osm from userdata and cloudprovider ownership
  OWNERS_ALIASES
  pkg/cloudprovider/provider/OWNERS
  pkg/userdata/OWNERS
Due: pull-machine-controller-e2e-nutanix

Remove sig-osm from userdata and cloudprovider ownership (#1543)
  OWNERS_ALIASES
  pkg/cloudprovider/provider/OWNERS
  pkg/userdata/OWNERS
Due: pull-machine-controller-e2e-nutanix

Update containerd to 1.6 and Docker to 20.10
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
Due: none

Update kubernetes-cni to 1.2.0 and cri-tools to 1.26.0
  pkg/userdata/helper/download_binaries_script.go
Due: pull-machine-controller-e2e-nutanix

Containerize update-fixtures script
  hack/lib.sh
  hack/run-machine-controller.sh
  hack/update-fixtures.sh
Due: pre-machine-controller-verify-shfmt

Update containerd to 1.6 in E2E tests
  test/tools/integration/master_install_script.sh
Due: none

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call (#1536)
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none

Anexia Provider: add support for named VM templates (#1541)
  docs/anexia.md
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: pull-machine-controller-license-validation

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1548)
  OWNERS_ALIASES
Due: none

Make ID an optional field for vSphere tags
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

Make ID an optional field for vSphere tags (#1549)
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/types.go
Due: none

Anexia Provider: configure rpc-statd service as kubelet dependency
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Update flatcar cloudinit fixtures
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.9.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
Due: pull-machine-controller-e2e-nutanix

fix deleting md finalizer deletion fails due to spec validation
  pkg/admission/machinedeployments.go
Due: none

Anexia Provider: configure rpc-statd service as kubelet dependency (#1553)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.9.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
Due: pull-machine-controller-e2e-nutanix

Adjust kubevirt image repo
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Adjust kubevirt image repo (#1554)
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Generate correct node affinity if no values are passed
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Fix vsphere datastore
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Fix vsphere datastore cluster
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
Due: pull-machine-controller-e2e-nutanix

Add test for affinity without values
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
Due: none

Fix yamllint complaint
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
Due: none

Generate correct node affinity if no values are passed (#1557)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
Due: none

Fix Flatcar network issues when IPAM is not used
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

fix if cache DeletionTimestamp is empty for deleted parent resource then child resources get recreated
  pkg/controller/machinedeployment/machinedeployment_controller.go
  pkg/controller/machineset/machineset_controller.go
  pkg/controller/util/misc.go
Due: none

Fix Flatcar network issues when IPAM is not used (#1559)
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Always use latest OSM image in e2e tests
  .prow/provider-azure.yaml
  examples/operating-system-manager.yaml
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
