Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

Retry if instance doesn't have IP addresses
  pkg/controller/machine/machine_controller.go
Due: none

Add more unit tests for getNode and fix linter errors
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/controller/machine/machine_test.go
Due: pull-machine-controller-e2e-nutanix

Fix machine name substitution for ignition
  pkg/controller/machine/bootstrap.go
Due: none

Update OSM version
  examples/operating-system-manager.yaml
Due: none

enable DHCPv6 on CentOS
  pkg/userdata/centos/provider.go
  pkg/userdata/centos/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Fix logic for finding node by ProviderID (#1351)
  pkg/cloudprovider/instance/instance.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Fix defaulting for provisioning utility when flatcar is used
  pkg/admission/machines.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types_test.go
  pkg/userdata/flatcar/flatcar.go
Due: pull-machine-controller-e2e-nutanix

Use ignition for flatcar e2e tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Enable E2E tests for RHEL on Openstack
  examples/operating-system-manager.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Fix E2E tests for Anexia
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-anexia.yaml
Due: pull-machine-controller-e2e-nutanix

Update
  examples/operating-system-manager.yaml
  hack/run-machine-controller.sh
  pkg/cloudprovider/provider/anexia/provider.go
Due: pre-machine-controller-verify-shfmt

fix typos
  cmd/machine-controller/main.go
  examples/openstack-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/controller/machine/kubeconfig_test.go
  pkg/controller/machine/machine_test.go
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/centos/provider_test.go
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rockylinux/provider_test.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Update pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
Due: none

Test
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Debug
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-openstack.yaml
Due: pull-machine-controller-e2e-nutanix

test
  examples/operating-system-manager.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

done writting stupid commit messages
  examples/operating-system-manager.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-openstack.yaml
Due: pull-machine-controller-e2e-nutanix

Update
  examples/operating-system-manager.yaml
Due: none

test image
  examples/operating-system-manager.yaml
Due: none

Update operating-system-manager.yaml
  examples/operating-system-manager.yaml
Due: none

Enable OSM in E2E tests
  .prow/provider-aws.yaml
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  go.mod
  go.sum
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-machine-controller-in-kind.sh
  hack/run-machine-controller.sh
  pkg/admission/machinedeployments_validation.go
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/controller/machine/bootstrap.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types_test.go
  pkg/userdata/flatcar/flatcar.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-anexia.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

[release/v1.43] Fix logic for finding node by ProviderID
  pkg/cloudprovider/instance/instance.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Disable Nutanix tests and update vSphere preset
  .prow.yaml
Due: none

[release/v1.43] add metro support for equinixmetal
  go.mod
  go.sum
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/equinixmetal/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Equinix: use m3.small.x86 for CentOS E2E tests (#1363)
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

fix typos (#1371)
  cmd/machine-controller/main.go
  examples/openstack-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/controller/machine/kubeconfig_test.go
  pkg/controller/machine/machine_test.go
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/centos/provider_test.go
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rockylinux/provider_test.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

[test] anexia
  pkg/admission/machinedeployments_validation.go
Due: none

Remove Rocky Linux from Equinix Metal E2E tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Fix Equinix Metal and KubeVirt E2E tests
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Fix Equinix Metal E2E tests
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] Fix logic for finding node by ProviderID (#1373)
  .prow.yaml
  pkg/cloudprovider/instance/instance.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

debug: add logs
  hack/ci/run-e2e-tests.sh
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/verify.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

debug: more logs
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

debug: .
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

debug: .
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Update OSM image
  examples/operating-system-manager.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Enable OperatingSystemManager in E2E tests (#1369)
  .prow/provider-aws.yaml
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  go.mod
  go.sum
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-machine-controller-in-kind.sh
  hack/run-machine-controller.sh
  pkg/admission/machinedeployments_validation.go
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/controller/machine/bootstrap.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types_test.go
  pkg/userdata/flatcar/flatcar.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-anexia.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix
