Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Code factorized
  cmd/machine-controller/main.go
  pkg/controller/machine/helpers.go
  pkg/controller/machine/machine_controller.go
  pkg/node/eviction/eviction.go
  pkg/node/manager/node_manager.go
  pkg/node/poddeletion/pod_deletion.go
Due: none

Logic applied only to vSphere
  examples/machine-controller.yaml
  pkg/controller/machine/helpers.go
  pkg/controller/machine/machine_controller.go
Due: none

Waiting for volumeAttachments deletion (#1190)
  examples/machine-controller.yaml
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
  pkg/node/eviction/eviction.go
  pkg/node/nodemanager/node_manager.go
  pkg/node/poddeletion/pod_deletion.go
Due: none

thanks ahmedwaleedmalik for being patient with my commits :)
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
Due: none

refactor: improve handling for GCE config
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
Due: none

Expose google provisioning model to be able to acquire spot instances (#1252)
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none

[release/v1.43] Waiting for volumeAttachments deletion (#1256)
  examples/machine-controller.yaml
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
  pkg/node/eviction/eviction.go
  pkg/node/nodemanager/node_manager.go
  pkg/node/poddeletion/pod_deletion.go
Due: none

debug vsphere datastore test
  .prow.yaml
Due: none

refactor vSphere datastore cluster
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

enable vSphere tests
  .prow.yaml
Due: none

refactor vSphere tests
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

debug vsphere datastore test
  .prow.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

vsphere test CI run
  README.md
Due: none

disable vSphere tests
  .prow.yaml
Due: none

disable vSphere tests (#1172)
  .prow.yaml
Due: none

enable vSphere tests (#1180)
  .prow.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.37] Waiting for volumeAttachments deletion (#1257)
  .prow.yaml
  examples/machine-controller.yaml
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
  pkg/node/eviction/eviction.go
  pkg/node/nodemanager/node_manager.go
  pkg/node/poddeletion/pod_deletion.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

unwire pod cidrs command line flag
  cmd/machine-controller/main.go
  pkg/apis/plugin/plugin.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/controller/machine/machine_controller.go
  pkg/userdata/rhel/provider_test.go
Due: pull-machine-controller-e2e-nutanix

define static ip config
  pkg/providerconfig/types/types.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

remove refs to pod cidr flag
  cmd/machine-controller/main.go
  pkg/controller/machine/machine_controller.go
Due: none

ignore cyclomatic complexity of aws getconfig
  pkg/cloudprovider/provider/aws/provider.go
Due: none

pkg/userdata/flatcar/provider.go: removed unsupported 'command: stop' from userDataIgnitionTemplate
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

flatcar/provider.go: added stop command to service mask
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Update test data
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

added stop command to userDataIgnitionTemplate
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

define static ip config (#1263)
  cmd/machine-controller/main.go
  pkg/apis/plugin/plugin.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/controller/machine/machine_controller.go
  pkg/providerconfig/types/types.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] Flatcar stop disabled units (#1264)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.20.14.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.21.8.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
Due: pull-machine-controller-e2e-nutanix

Publish image to quay.io/kubermatic/machine-controller
  Makefile
  examples/machine-controller.yaml
  test/tools/integration/master_install_script.sh
Due: none

Publish image to quay.io/kubermatic/machine-controller (#1267)
  Makefile
  examples/machine-controller.yaml
  test/tools/integration/master_install_script.sh
Due: none

Bump to Kubernetes 1.23.6 and controller-runtime 0.11.2
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

flatcar: explicitly stop masked units on first boot
  hack/lib.sh
  hack/update-fixtures.sh
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/ignition_v1.20.14.json
  pkg/userdata/flatcar/testdata/ignition_v1.21.8.json
  pkg/userdata/flatcar/testdata/ignition_v1.22.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.0.json
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Bump prowjobs to golang 1.18.1 and corresponding kubermatic/build image
  .prow.yaml
Due: none

Bump Dockerfile and Makefile to Go 1.18.1 as well
  Dockerfile
  Makefile
Due: none

Bump to Go 1.18
  go.mod
Due: pull-machine-controller-license-validation

go mod tidy
  go.sum
Due: pull-machine-controller-license-validation

Update to golang 1.18.1 and corresponding kubermatic/build image (#1268)
  .prow.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Remove Kubernetes 1.20 and bump patch releases
  README.md
  pkg/userdata/amzn2/provider_test.go
  pkg/userdata/centos/provider_test.go
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/helper/common_test.go
  pkg/userdata/helper/kubelet_test.go
  pkg/userdata/rhel/provider_test.go
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/sles/provider_test.go
  pkg/userdata/ubuntu/provider_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
