Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

feat: Add version information to Hetzner provider HTTP client
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/version/version.go
  pkg/version/version_test.go
Due: none

Update Hetzner server type from cx22 to cx23
  docs/cloud-provider.md
  sdk/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  sdk/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/hetzner.yaml
  sdk/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/hetzner.yaml
  sdk/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
Due: pull-machine-controller-e2e-nutanix

Use EndpointSlices for API server discovery instead of deprecated Endpoints
  .golangci.yml
  pkg/clusterinfo/configmap.go
  pkg/clusterinfo/configmap_test.go
Due: none

feat: Add version information to Hetzner provider HTTP client (#1991)
  docs/cloud-provider.md
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/version/version.go
  pkg/version/version_test.go
  sdk/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  sdk/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/hetzner.yaml
  sdk/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/hetzner.yaml
  sdk/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/hetzner.yaml
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
Due: pull-machine-controller-e2e-nutanix

Use EndpointSlices for API server discovery instead of deprecated Endpoints (#1992)
  .golangci.yml
  pkg/clusterinfo/configmap.go
  pkg/clusterinfo/configmap_test.go
Due: none

[release/v1.64] Bump Go version to 1.25.6
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

[release/v1.64] Bump Go version to 1.25.6 (#1993)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

[release/v1.62] Bump Go version to 1.24.12 (#1988)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/rhsm/satellite_subscription_manager.go
  pkg/rhsm/subscription_manager.go
Due: pre-machine-controller-verify-shfmt

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams (#1994)
  OWNERS_ALIASES
Due: none

add support for k8s v1.35
  README.md
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

fix lint and update fixtures
  pkg/admission/machines_test.go
  pkg/clusterinfo/configmap_test.go
  pkg/node/eviction/eviction_test.go
Due: none

Add support for Kubernetes version 1.35 (#1995)
  README.md
  go.mod
  go.sum
  pkg/admission/machines_test.go
  pkg/clusterinfo/configmap_test.go
  pkg/node/eviction/eviction_test.go
Due: pull-machine-controller-license-validation

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams (#1976)
  OWNERS_ALIASES
Due: none

Bump controller-runtime to 0.23.1
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Add staticcheck rule to golangci
  .golangci.yml
Due: none

Bump controller-runtime to 0.23.1 (#1996)
  .golangci.yml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

support machine labels to kubev vm
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

support machine labels to kubev vm (#1998)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1999)
  OWNERS_ALIASES
Due: none

Skip eviction in case when the Node is NotReady
  pkg/controller/machine/controller.go
Due: none

Bump Go version to 1.25.7
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Bump Go version to 1.25.7 (#2003)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.64] Synchronize OWNERS_ALIASES file with Github teams (#2001)
  OWNERS_ALIASES
Due: none

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams (#2000)
  OWNERS_ALIASES
Due: none

Fixes #1984 Removes unused `IntreeCloudProviderImplementationSupported` func
  pkg/controller/machine/controller.go
  sdk/providerconfig/types.go
Due: none

drop support for Equinix Metal cloud provider
  .prow/provider-equinix-metal.yaml
  docs/cloud-provider.md
  docs/operating-system.md
  examples/equinixmetal-machinedeployment.yaml
  examples/operating-system-manager.yaml
  go.mod
  go.sum
  pkg/admission/machinedeployments_validation.go
  pkg/admission/machines.go
  pkg/admission/util.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  sdk/cloudprovider/equinixmetal/types.go
  sdk/providerconfig/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Add RBAC to access endpointslices
  examples/machine-controller.yaml
Due: none

change ProviderData.Update() semantics to only modify the in-memory representation on successful updates
  pkg/cloudprovider/types/types.go
Due: none

update webhooks: in case of resourceVersion conflict fall back to API's default handling
  pkg/admission/machinedeployments.go
  pkg/admission/machines.go
Due: none

[release/v1.65] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Skip admission webhook validation for deleting MachineDeployments
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_test.go
Due: none

Skip admission webhook validation for deleting MachineDeployments (#2017)
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_test.go
Due: none

Drop support for k8s 1.32
  README.md
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Drop support for k8s 1.32 (#2016)
  README.md
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Update images in Tinkerbell template
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/client/template.go
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
