Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-aws:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

pull-machine-controller-e2e-aws-arm:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

pull-machine-controller-e2e-aws-ebs-encryption-enabled:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

Deprecate sig-virtualization (#1749)
  OWNERS_ALIASES
  pkg/cloudprovider/provider/kubevirt/OWNERS
Due: none

kubevirt: allow setting storage volume access types (#1740)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: none

AWS: increase spot instance price
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

AWS: increase spot instance price (#1754)
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Adds field to check if a IP reservation is still valid, if the IP is no longer valid a new one is requested.
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

Adds field to check if a IP reservation is still valid, (#1753)
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

webhook: refactor to use controller-runtime server
  cmd/webhook/main.go
  pkg/admission/admission.go
Due: none

Update dependencies and k8s API to v1.29
  cmd/machine-controller/main.go
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/node/poddeletion/pod_deletion.go
  pkg/rhsm/subscription_manager_test.go
Due: pull-machine-controller-license-validation

webhook: refactor to use controller-runtime server (#1751)
  cmd/webhook/main.go
  pkg/admission/admission.go
Due: none

Enable in-tree providers
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
Due: none

Refactored code
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
Due: none

Update controller runtime to 0.16
  cmd/machine-controller/main.go
  go.mod
  go.sum
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machineset/controller.go
  pkg/controller/nodecsrapprover/controller.go
  pkg/controller/util/misc.go
Due: pull-machine-controller-license-validation

Add tags usage when creating machine
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/equinixmetal/types/types.go
Due: pull-machine-controller-e2e-equinix-metal

Remove sles reference.
  pkg/userdata/sles/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/sles/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/sles/testdata/multiple-dns-servers.yaml
  pkg/userdata/sles/testdata/multiple-ssh-keys.yaml
  pkg/userdata/sles/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/sles/testdata/openstack.yaml
  pkg/userdata/sles/testdata/version-1.21.10.yaml
  pkg/userdata/sles/testdata/version-1.22.7.yaml
  pkg/userdata/sles/testdata/version-1.23.5.yaml
  pkg/userdata/sles/testdata/version-1.24.0.yaml
  pkg/userdata/sles/testdata/vsphere-mirrors.yaml
  pkg/userdata/sles/testdata/vsphere-proxy.yaml
  pkg/userdata/sles/testdata/vsphere.yaml
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

K8s-9263: Remove toolchain directive
  go.mod
Due: pull-machine-controller-license-validation

K8s-9263: Remove docker from containerruntime after checking upstream branch
  pkg/containerruntime/docker.go
Due: none

K8s-9263: Fix HostId and ProviderID methods
  pkg/cloudprovider/provider/vultr/provider.go
Due: none

Fix: minor issues
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Update fixtures
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Upgrade to Go 1.22
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Upgrade CRDs for OSM
  examples/operating-system-manager.yaml
Due: none

Upgrade to Go 1.22 (#1759)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  examples/operating-system-manager.yaml
  go.mod
  go.sum
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Remove TORCX_BINDIR from containerd binary call
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.26.6.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.28.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.29.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.29.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.58] Remove TORCX_BINDIR from containerd binary call
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.26.6.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.28.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.57] Remove TORCX_BINDIR from containerd binary call
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.9.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.56] Remove TORCX_BINDIR from containerd binary call
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.9.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.58] Use OSM v1.4 release branch
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Update prow jobs and remove yamllint image
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Makefile
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update prow jobs and remove yamllint image (#1764)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Makefile
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.58] Replace yamllint image
  .prow/verify.yaml
  Makefile
Due: none

[release/v1.57] Replace yamllint image
  .prow/verify.yaml
  Makefile
Due: none

Remove TORCX_BINDIR from containerd binary call (#1760)
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.26.6.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.28.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.29.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.26.6.json
  pkg/userdata/flatcar/testdata/ignition_v1.28.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.29.0.json
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

support edge provider Signed-off-by: Moath Qasim <moad.qassem@gmail.com>
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/providerconfig/types/types.go
Due: none

fix linting Signed-off-by: Moath Qasim <moad.qassem@gmail.com>
  pkg/cloudprovider/provider/edge/provider.go
Due: none

Support Edge Provider in Machine Controller (#1765)
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/providerconfig/types/types.go
Due: none

bump operating-system-manager to v1.3.4
  examples/operating-system-manager.yaml
Due: none

Bump OSM to v1.3.4
  examples/operating-system-manager.yaml
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
