Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

fix rocky linux defaulting test
  pkg/providerconfig/types.go
Due: none

add rockylinux support for aws
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

addressing pr reviews
  cmd/userdata/rockylinux/main.go
  pkg/providerconfig/types.go
Due: none

enable rocky linux for aws only tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

add rocky linux as a supported os in machine controller
  Makefile
  cmd/userdata/rockylinux/main.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
  pkg/providerconfig/types/types.go
  pkg/userdata/manager/manager.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/rockylinux.go
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Kubevirt: Force fixed MAC address for VM
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/util/net.go
Due: none

addressing pr reviews
  pkg/cloudprovider/provider/aws/provider.go
  pkg/userdata/rockylinux/provider.go
Due: pull-machine-controller-e2e-nutanix

Error if rand MAC address failed
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/util/net.go
Due: none

update fixtures
  pkg/cloudprovider/provider/aws/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Add rocky linux support for AWS (#1235)
  Makefile
  cmd/userdata/rockylinux/main.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/docker.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/manager/manager.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/provider_test.go
  pkg/userdata/rockylinux/rockylinux.go
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

validate pointer not nil
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
Due: none

Kubevirt: fixed randomised MAC address for VM (#1238)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/util/net.go
Due: none

support rocky linux in azure
  pkg/cloudprovider/provider/azure/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

refactor swap disabling
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/helper/kubelet_test.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

add dual stack support for gcp
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/cloudconfig.go
  pkg/cloudprovider/provider/gce/types/cloudconfig_test.go
  pkg/cloudprovider/provider/gce/types/types.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/node/poddeletion/pod_deletion.go
Due: pull-machine-controller-license-validation

fix spelling
  pkg/cloudprovider/provider/gce/config.go
Due: none

add boilerplate
  pkg/cloudprovider/provider/gce/provider_test.go
Due: none

use pod network family instead of pod cidrs
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/cloudconfig.go
  pkg/cloudprovider/provider/gce/types/cloudconfig_test.go
  pkg/cloudprovider/provider/gce/types/types.go
  pkg/cloudprovider/util/net.go
Due: none

fix log msg
  pkg/cloudprovider/provider/gce/config.go
Due: none

add test case for empty network family
  pkg/cloudprovider/provider/gce/provider_test.go
Due: none

handle unspecified and unknown cases of network family
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/util/net.go
Due: none

use network family from provider config only
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/cloudconfig.go
  pkg/cloudprovider/provider/gce/types/cloudconfig_test.go
  pkg/cloudprovider/provider/gce/types/types.go
  pkg/providerconfig/types/types.go
Due: none

rename podNetworkFamily to networkFamily
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/cloudconfig.go
  pkg/cloudprovider/provider/gce/types/cloudconfig_test.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none

validate each network family
  pkg/cloudprovider/provider/gce/provider.go
Due: none

capitalize error message
  pkg/cloudprovider/provider/gce/provider.go
Due: none

addressing PR review
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/testdata/containerd.yaml
  pkg/userdata/ubuntu/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/ubuntu/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/ubuntu/testdata/multiple-dns-servers.yaml
  pkg/userdata/ubuntu/testdata/multiple-ssh-keys.yaml
  pkg/userdata/ubuntu/testdata/nutanix.yaml
  pkg/userdata/ubuntu/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/ubuntu/testdata/openstack.yaml
  pkg/userdata/ubuntu/testdata/version-1.20.14.yaml
  pkg/userdata/ubuntu/testdata/version-1.21.8.yaml
  pkg/userdata/ubuntu/testdata/version-1.22.5.yaml
  pkg/userdata/ubuntu/testdata/version-1.23.0.yaml
  pkg/userdata/ubuntu/testdata/vsphere-mirrors.yaml
  pkg/userdata/ubuntu/testdata/vsphere-proxy.yaml
  pkg/userdata/ubuntu/testdata/vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Add support for setting Azure disk types (OS and data) (#1199)
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/get_client.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
Due: pull-machine-controller-e2e-nutanix

add dual stack support for gcp (#1236)
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/cloudconfig_test.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/util/net.go
  pkg/node/poddeletion/pod_deletion.go
  pkg/providerconfig/types/types.go
Due: pull-machine-controller-license-validation

add dual stack support for AWS
  pkg/cloudprovider/provider/aws/provider.go
Due: none

support rockylinux on Hetzner cloud
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/userdata/rockylinux/provider.go
Due: pull-machine-controller-e2e-nutanix

update fixtures
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Support rockylinux in hetzner (#1243)
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
Due: pull-machine-controller-e2e-nutanix

support Rocky linux for KubeVirt
  pkg/cloudprovider/provider/kubevirt/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

increase PVC size
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

support rocky linux for DO
  pkg/cloudprovider/provider/digitalocean/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

KubeVirt restart kubelet at reboot
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

support rocky linux for DO (#1245)
  pkg/cloudprovider/provider/digitalocean/provider.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix
