Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

add 1.36.2 in e2e tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

update test
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-digitalocean.yaml
Due: pull-machine-controller-e2e-nutanix

update test
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-digitalocean.yaml
Due: pull-machine-controller-e2e-nutanix

Add support for k8s v1.36 (#2042)
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  README.md
  go.mod
  go.sum
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  pkg/cloudprovider/provider/digitalocean/provider.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-digitalocean.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

feat(openstack): add disablePortSecurity to MachineDeployment spec
  examples/openstack-machinedeployment.yaml
  pkg/cloudprovider/provider/openstack/helper.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  sdk/cloudprovider/openstack/types.go
Due: none

fix(openstack): disable port security on all attached network ports
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

Add RBAC to access endpointslices
  examples/machine-controller.yaml
Due: none

fix custom CA e2e waiting on stale replica set
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Add RBAC to access endpointslices (#2045)
  examples/machine-controller.yaml
Due: none

Skip eviction in case when the Node is NotReady
  pkg/controller/machine/controller.go
Due: none

Fix unit-tests
  pkg/controller/machine/controller_test.go
Due: none

Skip eviction in case when the Node is NotReady (#2002)
  pkg/controller/machine/controller.go
  pkg/controller/machine/controller_test.go
Due: none

Address review comments
  examples/openstack-machinedeployment.yaml
  pkg/cloudprovider/provider/openstack/provider.go
Due: none

feat(openstack): add disablePortSecurity to MachineDeployment spec (#2043)
  examples/openstack-machinedeployment.yaml
  pkg/cloudprovider/provider/openstack/helper.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  sdk/cloudprovider/openstack/types.go
Due: none

feat(openstack): propagate instance faults to Machine status on ERROR
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
Due: none

feat(openstack): propagate instance faults to Machine status on ERROR (#2047)
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
Due: none

fix custom CA e2e waiting on stale replica set (#2046)
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

fix custom CA e2e waiting on stale replica set (#2049)
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

remove sigs and introduce dev-kkp team
  OWNERS
  OWNERS_ALIASES
Due: none

remove sigs and introduce dev-kkp team (#2050)
  OWNERS
  OWNERS_ALIASES
Due: none

remove sigs and introduce dev-kkp team (#2051)
  OWNERS
  OWNERS_ALIASES
Due: none

remove sigs and introduce dev-kkp team (#2052)
  OWNERS
  OWNERS_ALIASES
Due: none

fix(hetzner): migrate deprecated datacenter field to location
  .golangci.yml
  docs/cloud-provider.md
  examples/hetzner-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/provider_test.go
  sdk/cloudprovider/hetzner/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner-datacenter.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

fix(admission): write provider AddDefaults results back to the machine spec
  pkg/admission/machines.go
  pkg/admission/machines_test.go
Due: none

migrate deprecated datacenter field to location (#2054)
  .golangci.yml
  docs/cloud-provider.md
  examples/hetzner-machinedeployment.yaml
  go.mod
  go.sum
  pkg/admission/machines.go
  pkg/admission/machines_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/provider_test.go
  sdk/cloudprovider/hetzner/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner-datacenter.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

[release/v1.65] migrate deprecated datacenter field to location (#2055)
  .golangci.yml
  docs/cloud-provider.md
  examples/hetzner-machinedeployment.yaml
  go.mod
  go.sum
  pkg/admission/machines.go
  pkg/admission/machines_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/provider_test.go
  sdk/cloudprovider/hetzner/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner-datacenter.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

go mod tidy
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

[release/v1.64] migrate deprecated datacenter field to location (#2054) (#2056)
  .golangci.yml
  docs/cloud-provider.md
  examples/hetzner-machinedeployment.yaml
  go.mod
  go.sum
  pkg/admission/machines.go
  pkg/admission/machines_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/provider_test.go
  sdk/cloudprovider/hetzner/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machine-invalid.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner-datacenter.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

kubevirt: pin Flatcar VMs to PCI root complex to preserve Ignition (#2057)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Fix Golang lint issue
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

[release/v1.65] kubevirt: pin Flatcar VMs to PCI root complex to preserve Ignition (#2059)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

gce: replace deprecated CredentialsFromJSON with CredentialsFromJSONWithType
  pkg/cloudprovider/provider/gce/config.go
Due: none

Bump golang.org/x/text to v0.39.0
  go.mod
  go.sum
Due: pull-machine-controller-license-validation
