Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

Use containerd v1.5 as default when docker is selected
  pkg/containerruntime/docker.go
  pkg/userdata/centos/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
  pkg/userdata/ubuntu/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/ubuntu/testdata/docker.yaml
  pkg/userdata/ubuntu/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/ubuntu/testdata/multiple-dns-servers.yaml
  pkg/userdata/ubuntu/testdata/multiple-ssh-keys.yaml
  pkg/userdata/ubuntu/testdata/nutanix.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
  pkg/userdata/ubuntu/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/ubuntu/testdata/openstack.yaml
  pkg/userdata/ubuntu/testdata/version-1.22.7.yaml
  pkg/userdata/ubuntu/testdata/version-1.23.5.yaml
  pkg/userdata/ubuntu/testdata/vsphere-mirrors.yaml
  pkg/userdata/ubuntu/testdata/vsphere-proxy.yaml
  pkg/userdata/ubuntu/testdata/vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Create new struct for pointer config vars
  cmd/machine-controller/main.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/controller/machine/machine_controller.go
  pkg/providerconfig/types.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Add enableBootDiagnostics field to Azure cloud spec
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Update complexity in .golangci.yml
  .golangci.yml
Due: none

Add enableBootDiagnostics field to Azure cloud spec (#1438)
  .golangci.yml
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Update OSM image for e2e tests
  examples/operating-system-manager.yaml
Due: none

Add TODO
  examples/operating-system-manager.yaml
Due: none

Update OSM image for e2e tests (#1440)
  examples/operating-system-manager.yaml
Due: none

Deprecate use-osm flag, remove osm dependency
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  go.mod
  go.sum
  pkg/admission/admission.go
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_validation.go
  pkg/admission/machines.go
  pkg/bootstrap/doc.go
  pkg/bootstrap/types.go
  pkg/controller/machine/machine_controller.go
  pkg/providerconfig/types.go
  pkg/userdata/flatcar/flatcar.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Remove provisioning secret as implementation detail of OSM
  pkg/bootstrap/doc.go
  pkg/bootstrap/types.go
  pkg/controller/machine/machine_controller.go
Due: none

Add a note to pkg/bootstrap/types.go
  pkg/bootstrap/types.go
Due: none

Add legacy label again but also set it if external bootstrapping is disabled
  pkg/admission/machines.go
Due: none

Add support for Ubuntu 22.04
  docs/operating-system.md
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Fix dualstack IPv6 addr assignment issue in rockylinux and RHEL
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Fix linting issues
  pkg/bootstrap/types.go
Due: none

Update README.md
  README.md
Due: none

Fix dualstack IPv6 addr assignment issue in rockylinux and RHEL (#1442)
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Annotate testdata with default OSPs
  test/e2e/provisioning/testdata/machinedeployment-alibaba.yaml
  test/e2e/provisioning/testdata/machinedeployment-anexia.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
  test/e2e/provisioning/testdata/machinedeployment-baremetal-tinkerbell.yaml
  test/e2e/provisioning/testdata/machinedeployment-digitalocean.yaml
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-linode.yaml
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
  test/e2e/provisioning/testdata/machinedeployment-openstack-project-auth.yaml
  test/e2e/provisioning/testdata/machinedeployment-openstack-upgrade.yml
  test/e2e/provisioning/testdata/machinedeployment-openstack.yaml
  test/e2e/provisioning/testdata/machinedeployment-scaleway.yaml
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Upgrade to flannel v0.19.2 for E2E tests
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Upgrade to flannel v0.19.2 for E2E tests (#1444)
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

remove plugins
  Dockerfile
  Makefile
  cmd/userdata/amzn2/main.go
  cmd/userdata/centos/main.go
  cmd/userdata/flatcar/main.go
  cmd/userdata/rhel/main.go
  cmd/userdata/rockylinux/main.go
  cmd/userdata/sles/main.go
  cmd/userdata/ubuntu/main.go
  pkg/apis/plugin/plugin.go
  pkg/userdata/manager/plugin.go
  pkg/userdata/plugin/plugin.go
Due: pull-machine-controller-e2e-nutanix

.
  pkg/userdata/manager/plugin.go
Due: pull-machine-controller-e2e-nutanix

Fix e2e tests for vSphere
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Fix e2e tests for vSphere (#1449)
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

add support for topology spread constaint for VMs
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-license-validation

Add an option to enable nested virtualization and CPU platform for GCP
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none

adjust minCPUPlatform name to linter rules
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none

Add an option to enable nested virtualization and CPU platform for GCP (#1451)
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none

add support for topology spread constaint for VMs (#1445)
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-license-validation

Add an option to enable Guest OS Features at GCP
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none
