Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

Only attempt resource deletion in azure provider if finalizer is set (#1287)
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
Due: none

update to controller-runtime 0.12, k8s 1.24.0
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

update to controller-runtime 0.12, k8s 1.24.0 (#1289)
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Update anexia.md
  docs/anexia.md
Due: none

Split prowjobs; move them to .prow directory
  .prow.yaml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

Add asciicheck, bidichk, bodyclose, deadcode, depguard, durationcheck linters
  .golangci.yml
Due: none

Add errname linter
  .golangci.yml
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
Due: none

docs(anexia): add info for templates (#1288)
  docs/anexia.md
Due: none

Enable exportloopref linter
  .golangci.yml
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/controller/machine/machine_controller.go
Due: none

Enable importas, noctx, nolintlint linters
  .golangci.yml
Due: none

Add nosprintfhostport linter
  .golangci.yml
  pkg/clusterinfo/configmap.go
Due: none

Enable predeclared linter
  .golangci.yml
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/validationwrapper.go
Due: pull-machine-controller-e2e-nutanix

Enable promlinter linter
  .golangci.yml
  pkg/controller/machine/metrics.go
Due: none

Add staticcheck linter
  .golangci.yml
  go.mod
  go.sum
  pkg/apis/cluster/v1alpha1/conversions/conversions.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/util/cloud_init_settings_test.go
  pkg/cloudprovider/util/util_test.go
  pkg/controller/machine/kubeconfig_test.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
  pkg/rhsm/subscription_manager.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Enable tenv linter
  .golangci.yml
  pkg/cloudprovider/provider/gce/provider_test.go
Due: none

Enable wastedassign, whitespace linter
  .golangci.yml
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/util/cloud_init_settings.go
  pkg/cloudprovider/util/util.go
  pkg/controller/machine/bootstrap.go
  pkg/controller/machine/kubeconfig_test.go
  pkg/controller/machine/machine_controller.go
  pkg/controller/machine/machine_test.go
  pkg/controller/machine/metrics.go
  pkg/controller/machinedeployment/machinedeployment_controller.go
  pkg/controller/machineset/machineset_controller.go
  pkg/node/eviction/eviction.go
  pkg/node/eviction/eviction_test.go
  pkg/node/poddeletion/pod_deletion.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types_test.go
  pkg/providerconfig/types_test.go
  pkg/userdata/helper/helper.go
  pkg/userdata/sles/provider.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/migrateuidscenario.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Enable nakedret linter
  .golangci.yml
Due: none

Bump golangci-lint to v1.46.1 in CI
  .prow.yaml
  Makefile
  pkg/controller/machine/kubeconfig.go
Due: none

refactor: fix error condition checks
  pkg/cloudprovider/errors/errors.go
  pkg/cloudprovider/provider/aws/provider.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-nutanix

rh_subscriprion bootstrap script (#1265)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/controller/machine/bootstrap.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

Split prowjobs; move them to .prow directory (#1290)
  .prow.yaml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

Bump prowjobs to Go 1.18.2
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

Also update Go in Dockerfile and Makefile
  Dockerfile
  Makefile
  hack/update-fixtures.sh
Due: pre-machine-controller-verify-shfmt

Add comment regarding ignoring SA1019
  .golangci.yml
Due: none

Upgrade to Go 1.18.2 (#1293)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
Due: pre-machine-controller-verify-shfmt

use upstream signals helper
  cmd/machine-controller/main.go
  pkg/signals/signal.go
Due: none

properly inject the context, get rid of background/TODO contexts
  pkg/admission/machines.go
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/utils/utils.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/client.go
  pkg/cloudprovider/provider/vsphere/helper_test.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/validationwrapper.go
  pkg/controller/machine/machine_controller.go
  pkg/rhsm/subscription_manager.go
  pkg/rhsm/subscription_manager_test.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Contexts, contexts everywhere. (#1294)
  cmd/machine-controller/main.go
  pkg/admission/machines.go
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/utils/utils.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vsphere/client.go
  pkg/cloudprovider/provider/vsphere/helper_test.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/types/types.go
  pkg/cloudprovider/validationwrapper.go
  pkg/controller/machine/machine_controller.go
  pkg/rhsm/subscription_manager.go
  pkg/rhsm/subscription_manager_test.go
  pkg/signals/signal.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Disable e2e tests for Nutanix
  .prow/provider-nutanix.yaml
Due: none

Disable e2e tests for Nutanix (#1295)
  .prow/provider-nutanix.yaml
Due: none

Remove cluster.cluster.k8s.io CRD and api type
  examples/machine-controller.yaml
  pkg/apis/cluster/v1alpha1/cluster_types.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
Due: none

docs: include rocky linux in compatibility matrix
  docs/operating-system.md
Due: none

Add support for setting disk types (OS and data)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Rename diskType fields to diskSKU (Azure nomenclature)
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/types.go
Due: none

Include Azure disk SKUs in e2e testing
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
Due: pull-machine-controller-e2e-nutanix

Remove label and adjust loop condition
  pkg/cloudprovider/provider/azure/create_delete_resources.go
Due: none

Update pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
Due: none
