Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

Block setting spec.ConfigSource for Kubernetes 1.24+
  pkg/admission/machines.go
Due: none

Incorporate PR feedback
  pkg/admission/machines.go
Due: none

vcd: set computer name for VM (#1311)
  pkg/cloudprovider/provider/vmware-cloud-director/helper.go
  pkg/cloudprovider/provider/vmware-cloud-director/provider.go
Due: none

Block setting spec.ConfigSource for Kubernetes 1.24+ (#1312)
  pkg/admission/machines.go
Due: none

Load IPv6 address on Azure only if IPFamily is IPv6 or Dualstack
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Load IPv6 address on Azure only if IPFamily is IPv6 or Dualstack (#1315)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Fix installation of genisoimage & mkisofs
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Support configuring MaxPods for Machines
  pkg/apis/cluster/common/consts.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

Fin.
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

FIN
  hack/ci/run-e2e-tests.sh
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Refactor run-e2e-tests script
  hack/ci/run-e2e-tests.sh
Due: pre-machine-controller-verify-shfmt

Only install genisoimage when we are running e2e tests for vSphere
  hack/ci/run-e2e-tests.sh
Due: pre-machine-controller-verify-shfmt

Support configuring MaxPods for Machines (#1317)
  pkg/apis/cluster/common/consts.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

Refactor: handle PR feedback
  README.md
  hack/ci/cleanup.sh
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Use flannel for e2e tests
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Support configuring MaxPods for Machines (#1318)
  pkg/apis/cluster/common/consts.go
  pkg/userdata/helper/kubelet.go
Due: pull-machine-controller-e2e-nutanix

Test kindnet
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Switch back to flannel
  README.md
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Fix upload-gocache script
  hack/ci/upload-gocache.sh
Due: pre-machine-controller-verify-shfmt

Fix upload-gocache script (#1319)
  hack/ci/upload-gocache.sh
Due: pre-machine-controller-verify-shfmt

Update provider-vcloud-director.yaml
  .prow/provider-vcloud-director.yaml
Due: none

refactor: be consistent with VMware Cloud Director naming
  .prow/provider-vmware-cloud-director.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/client.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/types/types.go
  pkg/providerconfig/types/types.go
Due: none

refactor: be consistent with VMware Cloud Director naming (#1321)
  .prow/provider-vmware-cloud-director.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/client.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/types/types.go
  pkg/providerconfig/types/types.go
Due: none

Reduce instance profile validation to existence check
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Reduce instance profile validation to existence check (#1322)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

add dual stack support for DigitalOcean
  pkg/cloudprovider/provider/digitalocean/provider.go
Due: none

remove misleading comment
  pkg/cloudprovider/provider/digitalocean/provider.go
Due: none

Update OSM to v0.4.4
  go.mod
  go.sum
  pkg/admission/machinedeployments.go
Due: pull-machine-controller-license-validation

Pin AMI for Ubuntu 20.04 in e2e tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Pin AMI for Ubuntu 20.04 in AWS ARM e2e tests
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
Due: pull-machine-controller-e2e-nutanix

Fix AWS EBS encryption E2E test
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
Due: pull-machine-controller-e2e-nutanix

Update OSM to v0.4.4 (#1324)
  go.mod
  go.sum
  pkg/admission/machinedeployments.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix
