Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

Add an option to enable Guest OS Features at GCP (#1453)
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/types.go
Due: none

Rework OSM integration into generic external bootstrap "interface" (#1428)
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  go.mod
  go.sum
  pkg/admission/admission.go
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_validation.go
  pkg/admission/machines.go
  pkg/bootstrap/doc.go
  pkg/bootstrap/types.go
  pkg/controller/machine/machine_controller.go
  pkg/providerconfig/types.go
  pkg/userdata/flatcar/flatcar.go
  test/e2e/provisioning/testdata/machinedeployment-alibaba.yaml
  test/e2e/provisioning/testdata/machinedeployment-anexia.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
  test/e2e/provisioning/testdata/machinedeployment-baremetal-tinkerbell.yaml
  test/e2e/provisioning/testdata/machinedeployment-digitalocean.yaml
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-linode.yaml
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
  test/e2e/provisioning/testdata/machinedeployment-openstack-project-auth.yaml
  test/e2e/provisioning/testdata/machinedeployment-openstack-upgrade.yml
  test/e2e/provisioning/testdata/machinedeployment-openstack.yaml
  test/e2e/provisioning/testdata/machinedeployment-scaleway.yaml
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Kubevirt switch to instancetype
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-license-validation

Fix example file
  examples/kubevirt-machinedeployment.yaml
Due: none

Code review comment
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Kubevirt switch to instancetype (#1454)
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Due: pull-machine-controller-license-validation

Bump KubeVirt CDI to 1.55.0
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Bump KubeVirt CDI to 1.55.0 (#1456)
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Update containerized check
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

Test if kindnet CNI works
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Revert "Test if kindnet CNI works"
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Replace Flannel with Cilium
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Set operator.replicas=1 for cilium
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Remove CentOS 7 tests
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Add Calico as CNI
  hack/ci/calico.yaml
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

rename master branch to main
  .prow/postsubmits.yaml
  CONTRIBUTING.md
  docs/howto-provider.md
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
Due: pre-machine-controller-verify-shfmt

Do not check node readiness, just verify node exists
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

rename master branch to main (#1460)
  .prow/postsubmits.yaml
  CONTRIBUTING.md
  docs/howto-provider.md
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
Due: pre-machine-controller-verify-shfmt

Revert "Remove CentOS 7 tests"
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Add a test for node conditions except NodeReady
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Fix yamllint issues
  hack/ci/calico.yaml
Due: pre-machine-controller-verify-shfmt

Fix linting issue
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

Disable upgrade Prow job
  .prow/e2e-features.yaml
Due: none

[POC] Machine Provisioner CLI
  cmd/machine-provisioner/create.go
  cmd/machine-provisioner/main.go
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/types/types.go
  pkg/provisioner/provisioner.go
Due: pull-machine-controller-license-validation

Read end load .env files
  cmd/machine-controller/main.go
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-license-validation

Generate output for machine-provisioner
  cmd/machine-provisioner/create.go
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
Due: none

Wait till the public and private IP addresses are available
  cmd/machine-provisioner/create.go
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
Due: none

Support to specify SSH username
  pkg/provisioner/output.go
  pkg/provisioner/provisioner.go
Due: none

SSH keys userdata
  pkg/provisioner/provisioner.go
Due: none

Reduce wait time
  pkg/provisioner/provisioner.go
Due: none

Remove unneeded fields
  pkg/provisioner/output.go
Due: none

Use Calico as CNI for e2e and disable node readiness checks (#1459)
  .prow/e2e-features.yaml
  hack/ci/calico.yaml
  hack/ci/setup-kind-cluster.sh
  hack/lib.sh
  test/e2e/provisioning/verify.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Use 'main' as KKP branch instead of 'master'
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Use 'main' as KKP branch instead of 'master' (#1464)
  hack/ci/setup-kind-cluster.sh
Due: pre-machine-controller-verify-shfmt

Use official Nutanix SDK for Go
  go.mod
  go.sum
  pkg/cloudprovider/provider/nutanix/client.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

[release/v1.54] Update to Calico CNI, adjust node readiness checks and use KKP `main` branch (#1465)
  .prow/e2e-features.yaml
  hack/ci/calico.yaml
  hack/ci/setup-kind-cluster.sh
  hack/lib.sh
  test/e2e/provisioning/verify.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Use official Nutanix SDK for Go (#1457)
  go.mod
  go.sum
  pkg/cloudprovider/provider/nutanix/client.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Extend containerd registry mirror config
  pkg/containerruntime/config.go
  pkg/containerruntime/config_test.go
Due: none
