Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-aws:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

pull-machine-controller-e2e-aws-arm:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

pull-machine-controller-e2e-aws-ebs-encryption-enabled:
  decorate: true
  labels:
    preset-aws: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

Pin flatcar to 3510.2.8
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Pin flatcar to 3510.2.8 (#1711)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Pin flatcar to 3510.2.8 (#1714)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Pin flatcar to 3510.2.8 (#1713)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Pin flatcar to 3510.2.8 (#1712)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Revert "Pin flatcar to 3510.2.8 (#1711)"
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Revert "Pin flatcar to 3510.2.8 (#1712)"
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Revert "Pin flatcar to 3510.2.8 (#1714)"
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Revert "Pin flatcar to 3510.2.8 (#1711)" (#1715)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Revert "Pin flatcar to 3510.2.8 (#1713)"
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/cloudprovider/provider/aws/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Pin OSM to v1.3.3
  examples/operating-system-manager.yaml
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Pin OSM to v1.2.3
  examples/operating-system-manager.yaml
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

Pin OSM to v1.1.4
  examples/operating-system-manager.yaml
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.56] Revert "Pin flatcar to 3510.2.8 (#1713)" (#1717)
  examples/operating-system-manager.yaml
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/cloudprovider/provider/aws/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.57] Revert "Pin flatcar to 3510.2.8 (#1712)" (#1716)
  examples/operating-system-manager.yaml
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/cloudprovider/provider/aws/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.57] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.57] Synchronize OWNERS_ALIASES file with Github teams (#1721)
  OWNERS_ALIASES
Due: none

[release/v1.56] Synchronize OWNERS_ALIASES file with Github teams (#1720)
  OWNERS_ALIASES
Due: none

[release/v1.54] Revert "Pin flatcar to 3510.2.8 (#1714)" (#1718)
  examples/operating-system-manager.yaml
  hack/ci/setup-kind-cluster.sh
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/cloudprovider/provider/aws/provider.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

add loadbalancer max-shared-lb field
  pkg/cloudprovider/provider/openstack/types/cloudconfig.go
Due: none

Manually merged files
  .github/workflows/cicd.yaml
  go.sum
  hack/run-machine-controller.sh
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/userdata/amzn2/testdata/kubelet-v1.27-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.27-aws.yaml
  pkg/userdata/flatcar/provider_test.go
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
  pkg/userdata/ubuntu/testdata/version-1.24.13.yaml
  pkg/userdata/ubuntu/testdata/version-1.25.9.yaml
  pkg/userdata/ubuntu/testdata/version-1.26.4.yaml
  pkg/userdata/ubuntu/testdata/version-1.27.1.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Configure provider-id for the machines/nodes
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Add exception in golangci-lint
  .golangci.yml
Due: none

Remove Zenhub integration
  README.md
  Zenhub.md
Due: none

Remove Zenhub integration (#1724)
  README.md
  Zenhub.md
Due: none

Refactored code
  .golangci.yml
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: none

Drop centos support for Hetzner
  docs/operating-system.md
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Drop centos support for Hetzner (#1725)
  docs/operating-system.md
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Configure provider-id for the machines/nodes (#1723)
  .golangci.yml
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/instance.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/providerconfig/types/types.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix

Re-apply sys11 changes.
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machineset/controller.go
Due: none

Upgrade to go 1.21.3
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Remoev deprecated linters
  .golangci.yml
Due: none

Upgrade to Go 1.21.3 (#1728)
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

aws: fix rocky linux description filter
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

aws: fix rocky linux description filter (#1733)
  pkg/cloudprovider/provider/aws/provider.go
Due: pull-machine-controller-e2e-aws, pull-machine-controller-e2e-aws-arm, pull-machine-controller-e2e-aws-ebs-encryption-enabled

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-aws: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-arm: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
  pull-machine-controller-e2e-aws-ebs-encryption-enabled: any of: (pkg/cloudprovider/provider/aws/|pkg/userdata)
