Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

add support for rhel 9 (#1962)
  pkg/cloudprovider/provider/aws/provider.go
Due: none

add support for rhel 9
  pkg/cloudprovider/provider/azure/provider.go
Due: none

add support for rhel 9 (#1963)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

update image for rockylinux 9 and rhel 9
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

update storage class name
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

update vm template name for vSphere
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

update rockylinux and rhel image for e2e tests (#1964)
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Add support for k8s 1.34
  README.md
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
Due: none

Update golangci for-lint staticcheck exclusion
  .golangci.yml
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/clusterinfo/configmap.go
  pkg/clusterinfo/configmap_test.go
Due: pull-machine-controller-e2e-kubevirt

Bump Go build image to 1.25 in Prow jobs
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Update golangci-lint to exclude few existing noctx func implementation
  .golangci.yml
Due: none

Bump controller-runtime dependency to v0.22.0
  go.mod
  go.sum
  pkg/clusterinfo/configmap.go
  pkg/clusterinfo/configmap_test.go
Due: pull-machine-controller-license-validation

Add supported k8s entries to e2e tests
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Fix noctx lint issues
  .golangci.yml
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/rhsm/satellite_subscription_manager.go
  pkg/rhsm/subscription_manager.go
Due: none

Update Go build image tag in prow job and fix test failure issue
  .golangci.yml
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
  pkg/clusterinfo/configmap_test.go
Due: pre-machine-controller-verify-shfmt

Update the kubelet version to latest-1
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
Due: none

Bump Go version to secure one 1.25.1/1.24.7
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  go.mod
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation

Update e2e test with k8s versions
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Bump kubermatic/util image to 2.7.0 and kubermatic/startup-script to 0.3.0
  examples/kubevirt-local-mounter.yaml
  hack/lib.sh
Due: pre-machine-controller-verify-shfmt

Remove negative selectors
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Bump k8s patch releases
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Migrate VMware Cloud Director network settings to support multi-network configurations
  pkg/admission/machinedeployments_validation.go
  pkg/admission/util.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

Prepend instead of append, to ensure the same network stays the primary
  pkg/admission/util.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
Due: none

Deduplicate networks to avoid duplicate entries in configurations
  pkg/admission/util.go
Due: none

Remove unnecessary newline in error handling block
  pkg/admission/util.go
Due: none
