Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

Dualstack support with AWS CCM
  pkg/cloudprovider/provider/aws/types/cloudconfig.go
  pkg/cloudprovider/provider/aws/types/cloudconfig_test.go
  pkg/cloudprovider/provider/aws/types/testdata/simple-config.golden
Due: none

Dualstack support with AWS CCM (#1466)
  pkg/cloudprovider/provider/aws/types/cloudconfig.go
  pkg/cloudprovider/provider/aws/types/cloudconfig_test.go
  pkg/cloudprovider/provider/aws/types/testdata/simple-config.golden
Due: none

Add proxmox provider
  docs/proxmox.md
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/proxmox/client.go
  pkg/cloudprovider/provider/proxmox/provider.go
  pkg/cloudprovider/provider/proxmox/types/types.go
  pkg/providerconfig/types/types.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Cleanup
  docs/proxmox.md
  pkg/cloudprovider/provider/proxmox/client.go
  pkg/cloudprovider/provider/proxmox/types/types.go
Due: none

Add unit test for userdata generation: ubuntu on proxmox
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/provider_test.go
  pkg/userdata/ubuntu/testdata/proxmox.yaml
Due: pull-machine-controller-e2e-nutanix

Add proxmox example machinedeployment
  examples/proxmox-machinedeployment.yaml
Due: none

Improve proxmox docs
  README.md
  docs/operating-system.md
  docs/proxmox.md
Due: none

Catch up with recent versions
  pkg/userdata/ubuntu/testdata/proxmox.yaml
Due: pull-machine-controller-e2e-nutanix

Extend containerd registry mirror config (#1467)
  pkg/containerruntime/config.go
  pkg/containerruntime/config_test.go
Due: none

add optional storageSubnet to Nutanix provider
  examples/nutanix-machinedeployment.yaml
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/nutanix/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
Due: pull-machine-controller-e2e-nutanix

Fix static network rendering for flatcar
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Fix static network rendering for flatcar (#1473)
  pkg/userdata/flatcar/provider.go
Due: pull-machine-controller-e2e-nutanix

Upgrade to Go 1.19.3
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

add additionalSubnetNames field to ntnx-provider
  examples/nutanix-machinedeployment.yaml
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/nutanix/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
Due: pull-machine-controller-e2e-nutanix

Upgrade to Go 1.19.3 (#1475)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

add optional additional subnets to Nutanix provider (#1471)
  examples/nutanix-machinedeployment.yaml
  pkg/cloudprovider/provider/nutanix/client.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/nutanix/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
Due: pull-machine-controller-e2e-nutanix

restart containerd for flatcar so the drop in conf will be considered
  pkg/containerruntime/containerd.go
Due: none

update fixture data
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix

Update github URL references to use main branch
  cmd/machine-controller/main.go
  code-of-conduct.md
  docs/kubevirt.md
  pkg/cloudprovider/provider/vsphere/network.go
Due: none

restart containerd for flatcar so the drop in conf will be considered (#1476)
  pkg/containerruntime/containerd.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.25.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Due: pull-machine-controller-e2e-nutanix

Update github URL references to use main branch (#1477)
  cmd/machine-controller/main.go
  code-of-conduct.md
  docs/kubevirt.md
  pkg/cloudprovider/provider/vsphere/network.go
Due: none

refactor overwriteCloudConfigSpec for MDs
  pkg/controller/machine/machine_controller.go
  pkg/userdata/amzn2/provider.go
  pkg/userdata/centos/provider.go
  pkg/userdata/flatcar/provider.go
  pkg/userdata/rhel/provider.go
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/sles/provider.go
  pkg/userdata/ubuntu/provider.go
Due: pull-machine-controller-e2e-nutanix

Implement Vultr cloud provider
  Makefile
  docs/cloud-provider.md
  examples/vultr-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/cloudprovider/provider/vultr/types/types.go
  pkg/providerconfig/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-vultr-bare-metal.yaml
  test/e2e/provisioning/testdata/machinedeployment-vultr-cloud-instance.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Fix lint issues
  pkg/cloudprovider/provider/vultr/provider.go
Due: none

Allow MPL-2.0 license
  .wwhrd.yml
Due: none

Wait Vultr node to be gone after deleting it
  pkg/cloudprovider/provider/vultr/provider.go
Due: none

Halt Vultr bare metal instance before deleting it
  pkg/cloudprovider/provider/vultr/provider.go
Due: none

Reinstall Vultr bare-metal server before deleting it
  pkg/cloudprovider/provider/vultr/provider.go
Due: none

Update Vultr bare-metal machine cloud-init to disable kubelet before deletion
  pkg/cloudprovider/provider/vultr/provider.go
Due: none

KubeVirt fix pref wrong error check
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

AWS centos AMI-ID filter
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Update filter for CentOS Linux images
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Change vcenter datastore to ceph
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Anexia Provider: Utilize `Creating` state instead of blocking `Create` call
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Due: none
