Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)

[release/v1.45] Improvements for Anexia (#1405)
  docs/anexia.md
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/reconcile_context.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: pull-machine-controller-license-validation

Anexia: return reserved IP when instance IPs are requested (#1410)
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

update vsphere os images
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

enable flatcar, rockylinux and rhel for azure (#1416)
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Makefile: fix test-unit-docker (#1406)
  Makefile
Due: none

Enhance OpenStack app credentials support (#1210)
  docs/cloud-provider.md
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/types/cloudconfig.go
  pkg/cloudprovider/provider/openstack/types/testdata/use-application-credentials-ignore-userpass.golden
  pkg/cloudprovider/provider/openstack/types/testdata/use-application-credentials.golden
Due: none

Disable firewalld on supported OSes (#1226)
  pkg/userdata/amzn2/provider.go
  pkg/userdata/amzn2/testdata/containerd-kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/amzn2/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/centos/provider.go
  pkg/userdata/centos/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-nutanix.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.21-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-containerd-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.20-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.21-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
Due: pull-machine-controller-e2e-nutanix

Check in partially migrated code base
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/aws/types/types.go
Due: pull-machine-controller-license-validation

Update license validation CI job
  .prow/verify.yaml
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Finish migration to AWS SDK v2
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/aws/types/types.go
Due: pull-machine-controller-license-validation

Fix to mitigate race condition while configuring kubelet node ips
  pkg/userdata/helper/helper.go
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
Due: pull-machine-controller-e2e-nutanix

Fix linter issues
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Bump memory to 7Gi to prevent random OOM kills
  .prow/e2e-features.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
Due: none

refactored code
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/driver_test.go
  pkg/cloudprovider/provider/baremetal/plugins/tinkerbell/metadata/client.go
Due: none

Dummy change
  README.md
Due: none

Move AWS SDK requires into shared block
  go.mod
Due: pull-machine-controller-license-validation

Migrate AWS cloud provider to AWS Go SDK v2 (#1423)
  .prow/e2e-features.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/aws/types/types.go
Due: pull-machine-controller-license-validation

switch to kubermati-ci folder in e2e tests
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

switch to kubermati-ci folder in e2e tests (#1426)
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Fix to mitigate race condition while configuring kubelet node ips (#1424)
  pkg/userdata/helper/helper.go
  pkg/userdata/ubuntu/testdata/digitalocean-dualstack.yaml
  pkg/userdata/ubuntu/testdata/openstack-dualstack.yaml
Due: pull-machine-controller-e2e-nutanix

Fix dualstack IPv6 addr assignment issue in rockylinux and RHEL
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Bump kubernetes versions used for E2E tests to 1.22.14, 1.23.11 and 1.24.5 respectively
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
Due: pull-machine-controller-e2e-nutanix

Add kind/chore to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Skip TLS verification for vSphere
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Add leader election related flags to machine-controller
  cmd/machine-controller/main.go
Due: none

Bump Kubernetes versions used for E2E tests to 1.22.14, 1.23.11 and 1.24.5 respectively (#1431)
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-e2e-nutanix

Remove references to proxy in Nutanix e2e testing
  .prow/provider-nutanix.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
Due: pull-machine-controller-e2e-nutanix

Change run-e2e-test.sh script
  hack/ci/run-e2e-tests.sh
Due: pre-machine-controller-verify-shfmt

Add leader election related flags to machine-controller (#1435)
  cmd/machine-controller/main.go
Due: none

Add kind/chore to PR template (#1432)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remove references to proxy in Nutanix e2e testing (#1436)
  .prow/provider-nutanix.yaml
  hack/ci/run-e2e-tests.sh
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-nutanix

Fix dualstack IPv6 addr assignment issue in rockylinux and RHEL (#1430)
  pkg/userdata/rhel/provider.go
  pkg/userdata/rhel/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.22-nutanix.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws-external.yaml
  pkg/userdata/rhel/testdata/kubelet-v1.24-aws.yaml
  pkg/userdata/rhel/testdata/pod-cidr-azure-rhel.yaml
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

Add support for Ubuntu 22.04
  docs/operating-system.md
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix
