Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

pull-machine-controller-e2e-kubevirt:
  decorate: true
  labels:
    preset-kubevirt: 'true'
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-rhel: 'true'
    preset-goproxy: 'true'
    preset-kind-volume-mounts: 'true'
    preset-docker-mirror: 'true'
    preset-kubeconfig-ci: 'true'
  spec:
    containers:
  ...

move skip-eviction annotation into the sdk
  pkg/node/eviction/eviction.go
  sdk/node/eviction.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix

move configvarresolver into SDK
  pkg/admission/machines.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/external/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/metrics.go
  pkg/migrations/migrations.go
  sdk/go.mod
  sdk/go.sum
  sdk/providerconfig/resolver.go
  sdk/userdata/default.go
  sdk/userdata/default_test.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

use the same API registering method as for machines
  sdk/apis/cluster/v1alpha1/doc.go
  sdk/apis/cluster/v1alpha1/machine_types.go
  sdk/apis/cluster/v1alpha1/machineclass_types.go
  sdk/apis/cluster/v1alpha1/machinedeployment_types.go
  sdk/apis/cluster/v1alpha1/machineset_types.go
  sdk/apis/cluster/v1alpha1/register.go
Due: none

move bootstrap types into SDK
  pkg/controller/machine/controller.go
  sdk/bootstrap/doc.go
  sdk/bootstrap/types.go
Due: none

update boilerplate check
  hack/verify-boilerplate.sh
Due: pre-machine-controller-verify-shfmt

add license to SDK to make wwhrd work
  sdk/LICENSE
Due: none

move anexia errors into SDK
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/resolve_config.go
  sdk/cloudprovider/anexia/types.go
Due: none

better filenames
  sdk/userdata/amzn2/config.go
  sdk/userdata/flatcar/config.go
  sdk/userdata/rhel/config.go
  sdk/userdata/rockylinux/config.go
  sdk/userdata/ubuntu/config.go
Due: none

move baremetal plugin types to sdk
  pkg/cloudprovider/provider/baremetal/plugins/driver.go
  pkg/cloudprovider/provider/baremetal/provider.go
  sdk/cloudprovider/baremetal/plugins/plugins.go
Due: none

move testhelper into SDK, improve linting
  .golangci.yml
  Makefile
  sdk/.golangci.yml
  sdk/Makefile
  sdk/apis/cluster/v1alpha1/conversions/conversions.go
  sdk/apis/cluster/v1alpha1/conversions/providerconfig_to_providerspec_test.go
  sdk/cloudprovider/kubevirt/types.go
  sdk/go.mod
  sdk/go.sum
  sdk/internal/test/helper.go
Due: none

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1901)
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1904)
  OWNERS_ALIASES
Due: none

change kubevirt vm cpu assignment to not overwrite cpu alloc ratio
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
Due: pull-machine-controller-e2e-kubevirt

update kubevirt testdata
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/use-storage-as-storage-target.yaml
Due: pull-machine-controller-e2e-kubevirt

update logs: fix incorrect secret name used in log
  pkg/controller/machine/controller.go
Due: none

revert testdata change and add condition for vm cpu assignment
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/eviction-strategy-live-migrate.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/extra-headers-set.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/kubeovn-provider-network.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source-pod.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/registry-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/testing/testing.go
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

switch to providerSpec for enabling vcpu assignment
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

adapt kubevirt cpu struct
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

revert unnessecarry changes to mocked kubevirt vm
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/testing/testing.go
Due: pull-machine-controller-e2e-kubevirt

changes after review
  pkg/cloudprovider/provider/kubevirt/provider.go
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

Change KubeVirt VM CPU assignment to not overwrite cpu alloc ratio (#1906)
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/dedicated-vcpus.yaml
  sdk/cloudprovider/kubevirt/types.go
Due: pull-machine-controller-e2e-kubevirt

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

change vmxnet3 for virtio
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/vsphere/network.go
Due: none

fix kubevirt cpu check + update sdk version in go.mod
  go.mod
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-kubevirt

Bump Go version to 1.23.7
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

revert change regarding import of sdk submodule
  go.mod
Due: pull-machine-controller-license-validation

kubevirt resources and vcpus should only be parsed wihtout specified instance type
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

fix kubevirt cpu check + update sdk version in go.mod (#1912)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: pull-machine-controller-e2e-kubevirt

Bump Go version to 1.23.7 (#1913)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

migrate golangci-lint config
  .golangci.yml
Due: none

adjust code to new linter settings
  .gimps.yaml
  pkg/admission/admission.go
  pkg/admission/machines.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/vmwareclouddirector/client.go
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/rule.go
  pkg/cloudprovider/provider/vsphere/vmgroup.go
  pkg/clusterinfo/configmap.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machinedeployment/sync.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/delete_policy.go
  pkg/controller/machineset/machine.go
  pkg/controller/machineset/status.go
  pkg/controller/nodecsrapprover/controller.go
  pkg/migrations/migrations.go
  pkg/node/eviction/eviction.go
  sdk/apis/cluster/v1alpha1/conversions/conversions.go
  sdk/net/net.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/verify.go
Due: pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

bump to Go 1.24.2
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

treat the SDK the same way
  sdk/.golangci.yml
  sdk/providerconfig/types.go
Due: none

move configvarresolver into standalone package to lessen ctrl-runtime dependency further
  pkg/admission/machines.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/alibaba/provider.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/resolve_config.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/baremetal/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/edge/provider.go
  pkg/cloudprovider/provider/equinixmetal/provider.go
  pkg/cloudprovider/provider/external/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/nutanix/provider.go
  pkg/cloudprovider/provider/opennebula/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/scaleway/provider.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vultr/provider.go
  pkg/controller/machine/controller.go
  pkg/controller/machine/metrics.go
  pkg/migrations/migrations.go
  sdk/providerconfig/configvar/resolver.go
  sdk/providerconfig/resolver.go
  test/e2e/provisioning/migrateuidscenario.go
Due: pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

add readme
  sdk/README.md
Due: none

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)
