Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix

pre-machine-controller-verify-shfmt:
  decorate: true
  spec:
    containers:
    - image: docker.io/mvdan/shfmt:v3.3.1
      command:
      - /bin/shfmt
      args:
      - -l
      - -sr
      - -i
      - '2'
      - -d
      - hack
      resources:
        requests:
          memory: 32Mi
          cpu: 50m
        limits:
          memory: 256Mi
          cpu: 250m

pull-machine-controller-license-validation:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/wwhrd:0.4.0-1
      command:
      - ./hack/verify-licenses.sh
      resources:
        requests:
          memory: 512Mi
          cpu: 1

pull-machine-controller-e2e-equinix-metal:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-equinix-metal: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestEquinixMetalProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-cherryservers:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-cherryservers: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestCherryServersProvisioningE2E
      resources:
  ...

pull-machine-controller-e2e-nutanix:
  optional: true
  decorate: true
  labels:
    preset-hetzner: 'true'
    preset-e2e-ssh: 'true'
    preset-nutanix: 'true'
    preset-goproxy: 'true'
  spec:
    containers:
    - image: golang:1.17.1
      command:
      - ./hack/ci-e2e-test.sh
      args:
      - TestNutanixProvisioningE2E
      resources:
        requests:
  ...

Align KubeVirt cloud config with upstream
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

Align KubeVirt cloud config with upstream (#1401)
  pkg/cloudprovider/provider/kubevirt/provider.go
Due: none

enable DHCPv6 in RockyLinux (#1397)
  pkg/userdata/rockylinux/provider.go
  pkg/userdata/rockylinux/testdata/kubelet-v1.22-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws-external.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-aws.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-nutanix.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-mirrors.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere-proxy.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.23-vsphere.yaml
  pkg/userdata/rockylinux/testdata/kubelet-v1.24-aws.yaml
Due: pull-machine-controller-e2e-nutanix

set IPv6AcceptRA=true for Flatcar (#1393)
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/cloud-init_v1.22.7.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.23.5.yaml
  pkg/userdata/flatcar/testdata/cloud-init_v1.24.0.yaml
  pkg/userdata/flatcar/testdata/containerd.yaml
  pkg/userdata/flatcar/testdata/ignition_v1.22.7.json
  pkg/userdata/flatcar/testdata/ignition_v1.23.5.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
Due: pull-machine-controller-e2e-nutanix

Add enable-ingress-hostname and ingress-hostname-suffix to Openstack cloud-config
  pkg/cloudprovider/provider/openstack/types/cloudconfig.go
Due: none

Anexia: cleanup Config/RawConfig attribute duplication
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/reconcile_context.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

Anexia: extend disk configuration
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

Anexia: update MachineDeployment example
  examples/anexia-machinedeployment.yaml
Due: none

CI: disable OperationSystemManager for Anexia
  .prow/provider-anexia.yaml
Due: none

make it clear where and how to base64 encode the kubevirt kubeconfig
  docs/cloud-provider.md
  examples/kubevirt-machinedeployment.yaml
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Make anexia provider more resilient against errors (#1175)
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/errors.go
  pkg/cloudprovider/provider/anexia/types/types.go
  pkg/cloudprovider/provider/anexia/utils/utils.go
Due: pull-machine-controller-license-validation

anexia: increase HTTP client timeout to 120s (#1331)
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

docs(anexia): add info for templates (#1288)
  docs/anexia.md
Due: none

Makefile: fix test-unit-docker
  Makefile
Due: none

same goodness for GCP
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
Due: pull-machine-controller-e2e-nutanix

fix weirdness
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

bring back weirdness
  examples/gce-machinedeployment.yaml
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

things
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

ffs vscode
  pkg/cloudprovider/provider/gce/config.go
Due: none

improve kubeconfig/gcp handling of credentials in e2e tests (#1404)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.42] improve kubeconfig/gcp handling of credentials in e2e tests (#1404)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] improve kubeconfig/gcp handling of credentials in e2e tests (#1404)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.45] improve kubeconfig/gcp handling of credentials in e2e tests (#1404)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.42] improve kubeconfig/gcp handling of credentials in e2e tests (#1404) (#1407)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.43] improve kubeconfig/gcp handling of credentials in e2e tests (#1404) (#1408)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

[release/v1.45] improve kubeconfig/gcp handling of credentials in e2e tests (#1404) (#1409)
  docs/cloud-provider.md
  examples/gce-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/types/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Due: pull-machine-controller-e2e-nutanix

Anexia: extend disk configuration (#1402)
  .prow/provider-anexia.yaml
  examples/anexia-machinedeployment.yaml
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/reconcile_context.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

Anexia: extend disk configuration (#1402)
  examples/anexia-machinedeployment.yaml
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/reconcile_context.go
  pkg/cloudprovider/provider/anexia/types/types.go
Due: none

Anexia: return reserved IP when instance IPs are requested
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/instance_test.go
  pkg/cloudprovider/provider/anexia/provider.go
Due: none

bump operating system manager to v1.0.0
  go.mod
  go.sum
Due: pull-machine-controller-license-validation

Fix unmarshalling for configvarstring
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
Due: none

Fix unmarshalling for configvarstring (#1413)
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
Due: none

Fix unmarshalling for configvarstring (#1414)
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
Due: none

Fix unmarshalling for configvarstring (#1415)
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
Due: none

Fix E2E tests for vSphere and OpenStack
  .prow/provider-vsphere.yaml
  examples/operating-system-manager.yaml
  go.mod
  go.sum
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

Fix E2E tests for vSphere and OpenStack (#1412)
  .prow/provider-vsphere.yaml
  examples/operating-system-manager.yaml
  go.mod
  go.sum
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Due: pull-machine-controller-license-validation, pull-machine-controller-e2e-nutanix

enable flatcar, rockylinux and rhel for azure
  test/e2e/provisioning/all_e2e_test.go
Due: pull-machine-controller-e2e-nutanix

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
