Repository kubermatic/machine-controller: changes, and which Prow jobs are due for each by the changed paths.
All: pre-machine-controller-verify-shfmt, pull-machine-controller-license-validation, pull-machine-controller-e2e-equinix-metal, pull-machine-controller-e2e-cherryservers, pull-machine-controller-e2e-nutanix, pull-machine-controller-e2e-kubevirt

Path conditions:
  pre-machine-controller-verify-shfmt: any of: ^hack/
  pull-machine-controller-license-validation: any of: ^go.(mod|sum)$
  pull-machine-controller-e2e-equinix-metal: any of: pkg\/cloudprovider\/provider\/equinixmetal\/.*
  pull-machine-controller-e2e-cherryservers: any of: pkg\/cloudprovider\/provider\/cherryservers\/.*
  pull-machine-controller-e2e-nutanix: any of: (pkg/cloudprovider/provider/nutanix/|pkg/userdata/|test/e2e/provisioning/)
  pull-machine-controller-e2e-kubevirt: any of: (pkg/cloudprovider/provider/kubevirt/|pkg/userdata)

Add support to provision vcloud workers with multiple nics/networks
  pkg/cloudprovider/provider/vmwareclouddirector/helper.go
  pkg/cloudprovider/provider/vmwareclouddirector/provider.go
  sdk/cloudprovider/vmwareclouddirector/types.go
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Due: pull-machine-controller-e2e-nutanix

use virtio as NIC for anexia
  pkg/cloudprovider/provider/anexia/network_provisioning.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  sdk/cloudprovider/anexia/types.go
Due: none

Bump Go version to 1.24.4 (#1934)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Bump Go version to 1.24.4
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams (#1937)
  OWNERS_ALIASES
Due: none

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams (#1938)
  OWNERS_ALIASES
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1936)
  OWNERS_ALIASES
Due: none

Bump Go version to 1.24.4 (#1945)
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Due: pre-machine-controller-verify-shfmt

Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams
  OWNERS_ALIASES
Due: none

feat(openstack): add support for defining multiple networks
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  sdk/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/openstack.yaml
  sdk/cloudprovider/openstack/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-openstack-multiple-networks.yaml
Due: pull-machine-controller-e2e-nutanix

fix tests
  pkg/cloudprovider/provider/openstack/provider_test.go
Due: none

fixes
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
Due: none

fix TestMigratingMachine
  sdk/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/openstack.yaml
Due: none

Synchronize OWNERS_ALIASES file with Github teams (#1946)
  OWNERS_ALIASES
Due: none

[release/v1.61] Synchronize OWNERS_ALIASES file with Github teams (#1947)
  OWNERS_ALIASES
Due: none

[release/v1.62] Synchronize OWNERS_ALIASES file with Github teams (#1948)
  OWNERS_ALIASES
Due: none

fix various typos (#1935)
  docs/cloud-provider.md
  docs/vsphere.md
  hack/ci/setup-machine-controller-in-kind.sh
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/controller/machine/controller.go
  pkg/controller/machinedeployment/controller.go
  pkg/controller/machineset/controller.go
Due: pre-machine-controller-verify-shfmt, pull-machine-controller-e2e-kubevirt

handle both network and networks
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
Due: none

feat(openstack): add support for defining multiple networks (#1950)
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  sdk/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/openstack.yaml
  sdk/cloudprovider/openstack/types.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/testdata/machinedeployment-openstack-multiple-networks.yaml
Due: pull-machine-controller-e2e-nutanix

add support for rocky linux 9 i.e default to 9.6
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
Due: none

chore: Add more logging information for nutanix provider
  pkg/cloudprovider/provider/nutanix/client.go
Due: pull-machine-controller-e2e-nutanix

feat: Use clientCache for nutanix provider and activate sessionAuth
  pkg/cloudprovider/provider/nutanix/client.go
Due: pull-machine-controller-e2e-nutanix

feat(nutanix): use CachedClient, chore(nutanix): more error log information (#1952)
  pkg/cloudprovider/provider/nutanix/client.go
Due: pull-machine-controller-e2e-nutanix

fix tests
  examples/azure-machinedeployment.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
Due: pull-machine-controller-e2e-nutanix

test hz
  README.md
Due: none

add support for rocky linux 9 i.e default to 9.6 (#1951)
  examples/azure-machinedeployment.yaml
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
Due: pull-machine-controller-e2e-nutanix

add support for rhel 9
  pkg/cloudprovider/provider/aws/provider.go
Due: none

Add support for k8s 1.34
  README.md
  examples/alibaba-machinedeployment.yaml
  examples/anexia-machinedeployment.yaml
  examples/aws-machinedeployment.yaml
  examples/azure-machinedeployment.yaml
  examples/digitalocean-machinedeployment.yaml
  examples/equinixmetal-machinedeployment.yaml
  examples/gce-machinedeployment.yaml
  examples/hetzner-machinedeployment.yaml
  examples/kubevirt-machinedeployment.yaml
  examples/linode-machinedeployment.yaml
  examples/nutanix-machinedeployment.yaml
  examples/opennebula-machinedeployment.yaml
  examples/openstack-machinedeployment.yaml
  examples/scaleway-machinedeployment.yaml
  examples/vmware-cloud-director-machinedeployment.yaml
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  examples/vultr-machinedeployment.yaml
Due: none

Use flatcar-container-linux-corevm-amd64 for flatcar on Azure
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Use flatcar-container-linux-corevm-amd64 for flatcar on Azure (#1956)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Use flatcar-container-linux-corevm-amd64 for flatcar on Azure (#1958)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Use flatcar-container-linux-corevm-amd64 for flatcar on Azure (#1956) (#1959)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

Use flatcar-container-linux-corevm-amd64 for flatcar on Azure (#1957)
  pkg/cloudprovider/provider/azure/provider.go
Due: none

add support for rhel 9 (#1954)
  pkg/cloudprovider/provider/aws/provider.go
Due: none
